// fonts
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,900&display=swap');

$font-sans: 'Lato', 'Noto Sans TC', 'PingFang TC', 'Microsoft JhengHei', 'Microsoft YaHei', sans-serif;

// Primary - Blue (B)
$color-primary-lightblue: #4b83d5;
$color-primary-blue: #2f62ae;
$color-b300: #5f6983;

// Secondary - Orange (O)
$color-secondary-lightorange: #ff8700;
$color-secondary-orange: #ff6700;

// Neutrals (N)
$color-n100: #ffffff;
$color-n200: #cdcdcd;
$color-n300: #939393;
$color-n400: #323232;
$color-n500: #111111;
$color-n600: #707070;

// Beige (BE)
$color-be100: #f3f1ed;
$color-be200: #ebe8df;
$color-be300: #cec4a6;
$color-be400: #b9ac85;