@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap");
@import url("https://use.typekit.net/cax2ztr.css");
.enter-modal-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 90000;
  background-color: #101010;
}

.enter-modal-wrap .enter-modal-content {
  position: relative;
  width: 100%;
  height: 100%;
}

.enter-modal-wrap .enter-modal-content .enter-btn {
  position: absolute;
  z-index: 600;
  left: 50%;
  top: 80%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  cursor: pointer;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 10px 30px;
  min-width: 210px;
  text-align: center;
  font-size: 18px;
  letter-spacing: 1.8px;
  color: #EFEFEF;
  border: 1px solid #8C5FB4;
  background-color: #8C5FB4;
  border-radius: 30px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1199.98px) {
  .enter-modal-wrap .enter-modal-content .enter-btn {
    width: 180px;
    min-width: 180px;
    top: 106vw;
  }
}

.enter-modal-wrap .enter-modal-content .enter-btn:hover {
  background-color: #8C5FB4;
  border: 1px solid #8C5FB4;
  color: #EFEFEF;
}

.drag-wrap {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  cursor: move;
}

.drag-wrap .arrow-wrap {
  width: 48px;
  height: 48px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: absolute;
  z-index: 500;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  opacity: 0.5;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

@media screen and (max-width: 1199.98px) {
  .drag-wrap .arrow-wrap {
    display: none;
  }
}

.drag-wrap .arrow-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.drag-wrap .arrow-wrap:hover {
  opacity: 1;
}

.drag-wrap .arrow-wrap.style-left {
  left: 20px;
}

.drag-wrap .arrow-wrap.style-right {
  right: 20px;
}

.drag-wrap .logo-wrap {
  position: absolute;
  z-index: 500;
  left: 50%;
  top: 15vw;
  -webkit-transform: translate(-50%, 0);
          transform: translate(-50%, 0);
  width: 14.5vw;
}

@media screen and (max-width: 1199.98px) {
  .drag-wrap .logo-wrap {
    -webkit-transform: translate(-50%, 0);
            transform: translate(-50%, 0);
    top: 50vw;
    width: 33vw;
  }
}

.drag-wrap .logo-wrap img {
  width: 100%;
  height: 100%;
  -o-object-fit: contain;
     object-fit: contain;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

.drag-wrap .board-wrap {
  width: 200vw;
  height: 200vw;
  position: absolute;
  z-index: 300;
  left: 50%;
  top: -100vw;
  -webkit-transform: translate(-50%, -15%);
          transform: translate(-50%, -15%);
}

@media screen and (max-width: 1199.98px) {
  .drag-wrap .board-wrap {
    width: 412vw;
    height: 412vw;
    -webkit-transform: translate(-50%, -31%);
            transform: translate(-50%, -31%);
  }
}

.drag-wrap .board-wrap .image-wrap {
  width: 100%;
  height: 100%;
  background-image: url("../img/home/landing/board.jpg");
  background-repeat: no-repeat;
  background-size: contain;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transform: rotate(0deg);
          transform: rotate(0deg);
  -webkit-transition: 0.8s;
  transition: 0.8s;
}

@media screen and (max-width: 1199.98px) {
  .drag-wrap .board-wrap .image-wrap {
    -webkit-transition: 0.8s cubic-bezier(0, 0, 0.2, 1);
    transition: 0.8s cubic-bezier(0, 0, 0.2, 1);
  }
}

/* datepicker樣式 */
.datepicker-block {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.datepicker-block #homeDatepicker {
  top: 5px !important;
  right: 0;
  left: inherit !important;
  width: 378px;
  max-width: 100%;
  border: solid 1px #8C5FB4;
  border-radius: 6px;
  background-color: #101010;
  padding: 8px;
}

.datepicker-block #homeDatepicker .ui-datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
  background-color: rgba(77, 77, 77, 0.8);
  border-radius: 4px;
  padding: 7px 16px;
}

.datepicker-block #homeDatepicker .ui-datepicker-title {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
}

.datepicker-block #homeDatepicker .ui-datepicker-title .ui-datepicker-month,
.datepicker-block #homeDatepicker .ui-datepicker-title .ui-datepicker-year {
  color: #CCCCCC;
}

.datepicker-block #homeDatepicker .ui-corner-all .ui-icon {
  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-arrow.svg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #101010;
}

.datepicker-block #homeDatepicker .ui-datepicker-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.datepicker-block #homeDatepicker .ui-datepicker-next {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar {
  width: 100%;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td, .datepicker-block #homeDatepicker .ui-datepicker-calendar th {
  height: 36px;
  position: relative;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar th span {
  color: #8C5FB4;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.5;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td.ui-datepicker-today::before {
  opacity: 1;
  border-color: #CCCCCC;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td.ui-datepicker-unselectable a, .datepicker-block #homeDatepicker .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  color: #4D4D4D;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td.ui-datepicker-current-day a {
  color: #4D4D4D;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td.ui-datepicker-current-day::before {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  opacity: 1;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover {
  cursor: pointer;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a {
  color: #4D4D4D;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover::before {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  opacity: 1;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td::before {
  position: absolute;
  opacity: 0;
  content: '';
  width: 36px;
  height: 36px;
  border: solid 1px #ddd;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.datepicker-block #homeDatepicker .ui-datepicker-calendar td a, .datepicker-block #homeDatepicker .ui-datepicker-calendar td span {
  display: block;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.5;
  margin-left: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #CCCCCC;
}

@media (max-width: 575.98px) {
  .datepicker-block #homeDatepicker .ui-datepicker-header {
    padding: 3px 14px;
    margin-bottom: 5px;
  }
  .datepicker-block #homeDatepicker .ui-datepicker-title {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .datepicker-block #homeDatepicker .ui-datepicker-calendar th {
    height: 20px;
  }
  .datepicker-block #homeDatepicker .ui-datepicker-calendar th span {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .datepicker-block #homeDatepicker .ui-datepicker-calendar td {
    height: 33px;
  }
  .datepicker-block #homeDatepicker .ui-datepicker-calendar td a, .datepicker-block #homeDatepicker .ui-datepicker-calendar td span {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
}
/*# sourceMappingURL=board-modal.css.map */