@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+TC:wght@400;900&display=swap");
@import url("https://use.typekit.net/cax2ztr.css");
html,
body {
  overflow-x: hidden;
}

body::after {
  content: '';
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background-image: url(../img/home/bg-wallpaper.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

main {
  padding-top: 120px;
  position: relative;
  z-index: 1;
}

@media (max-width: 1280px) {
  main {
    padding-top: 114px;
  }
}

@media (max-width: 1024px) {
  main {
    padding-top: 90px;
  }
}

@media (max-width: 1199.98px) {
  main {
    padding-top: 60px;
  }
}

.color-pink {
  color: #ff7ea4;
}

.multi-btn button.btn-outline {
  width: calc((100% - 30px) / 2);
  max-width: 210px;
}

.multi-btn button.btn-outline.submit {
  max-width: initial;
  width: 240px;
}

@media (max-width: 1440px) {
  .multi-btn button.btn-outline {
    width: 150px;
  }
}

@media (max-width: 1199.98px) {
  .multi-btn button.btn-outline {
    width: 144px;
    min-width: unset;
  }
}

button.btn-outline {
  cursor: pointer;
}

button.btn-outline:disabled, button.btn-outline[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

button.btn-outline:disabled:hover, button.btn-outline[disabled]:hover {
  color: #9FA0A0;
  border-color: #9FA0A0;
  background-color: transparent;
}

button.btn-outline:focus {
  outline: 0;
}

@media (max-width: 1440px) {
  button.btn-outline {
    width: 150px;
  }
}

@media (max-width: 575.98px) {
  button.btn-outline {
    font-size: 16px;
    letter-spacing: 1.6px;
  }
}

.anchor-wrapper {
  display: initial;
}

@media (max-width: 767.98px) {
  .anchor-wrapper {
    display: none;
  }
}

@media (max-width: 767.98px) {
  header.logo .hamburger {
    display: none;
  }
}

@media (max-width: 575.98px) {
  header.logo {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  header.logo a {
    height: 23px;
  }
  header.logo .hamburger {
    display: none;
  }
}

/*progressbar*/
#progressbar {
  margin: 0 auto;
  padding: 0 19px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
  /*CSS counters to number the steps*/
  counter-reset: step;
}

@media (min-width: 1200px) {
  #progressbar {
    max-width: calc((720px + 30px) * 0.7263);
  }
}

@media (min-width: 1440px) {
  #progressbar {
    max-width: calc((900px + 30px) * 0.7263);
  }
}

@media (min-width: 1920px) {
  #progressbar {
    max-width: calc((1088px + 30px) * 0.7263);
  }
}

@media (max-width: 1199.98px) {
  #progressbar {
    max-width: 100%;
  }
}

#progressbar::before, #progressbar::after {
  content: '';
  width: 25%;
  height: 1px;
  background-color: #8C5FB4;
  position: absolute;
}

#progressbar::before {
  left: -25%;
}

#progressbar::after {
  right: -25%;
}

#progressbar li {
  list-style-type: none;
  text-transform: uppercase;
  float: left;
  position: relative;
  line-height: 1;
  text-align: center;
  color: #CCCCCC;
  padding: 0 28px;
}

#progressbar li.active::before {
  color: #8C5FB4;
  text-decoration: underline;
}

#progressbar li::before {
  content: counter(step);
  counter-increment: step;
  font-size: 14px;
  line-height: 1;
  letter-spacing: 0.7px;
  text-align: center;
  color: #9FA0A0;
}

@media (max-width: 575.98px) {
  #progressbar::before, #progressbar::after {
    width: 5px;
    height: 5px;
    top: 5.5px;
  }
  #progressbar li {
    padding: 0 17.5px;
  }
}

.bar-wrapper {
  margin: 0 auto;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

@media (min-width: 1200px) {
  .bar-wrapper {
    max-width: calc((720px + 30px) * 0.7263);
  }
}

@media (min-width: 1440px) {
  .bar-wrapper {
    max-width: calc((900px + 30px) * 0.7263);
  }
}

@media (min-width: 1920px) {
  .bar-wrapper {
    max-width: calc((1088px + 30px) * 0.7263);
  }
}

@media (max-width: 1199.98px) {
  .bar-wrapper {
    max-width: 100%;
  }
}

@media (min-width: 1200px) {
  .bar-wrapper {
    margin-top: calc((720px + 30px) * 0.04204);
  }
}

@media (min-width: 1440px) {
  .bar-wrapper {
    margin-top: calc((900px + 30px) * 0.04204);
  }
}

@media (min-width: 1920px) {
  .bar-wrapper {
    margin-top: calc((1088px + 30px) * 0.04204);
  }
}

@media (max-width: 1199.98px) {
  .bar-wrapper {
    margin-top: calc(100% * 0.04204);
  }
}

@media (min-width: 1200px) {
  .bar-wrapper {
    margin-bottom: calc((720px + 30px) * 0.07513);
  }
}

@media (min-width: 1440px) {
  .bar-wrapper {
    margin-bottom: calc((900px + 30px) * 0.07513);
  }
}

@media (min-width: 1920px) {
  .bar-wrapper {
    margin-bottom: calc((1088px + 30px) * 0.07513);
  }
}

@media (max-width: 1199.98px) {
  .bar-wrapper {
    margin-bottom: calc(100% * 0.07513);
  }
}

.bar-wrapper.hide-steps {
  display: none;
}

@media (max-width: 575.98px) {
  .bar-wrapper {
    max-width: 100%;
    margin-top: 11px;
    margin-bottom: 0;
  }
}

.progress-title {
  margin-bottom: 0;
  line-height: 1.5;
}

.sub-title {
  line-height: 1;
  color: #CCCCCC;
}

@media (min-width: 1200px) {
  .sub-title {
    padding-top: calc((720px + 30px) * 0.04025);
  }
}

@media (min-width: 1440px) {
  .sub-title {
    padding-top: calc((900px + 30px) * 0.04025);
  }
}

@media (min-width: 1920px) {
  .sub-title {
    padding-top: calc((1088px + 30px) * 0.04025);
  }
}

@media (max-width: 1199.98px) {
  .sub-title {
    padding-top: calc(100% * 0.04025);
  }
}

@media (max-width: 575.98px) {
  .sub-title {
    letter-spacing: 1.7px;
    padding-top: 36px;
  }
}

.en-sub-title {
  font-size: 14px;
  line-height: 2.14;
  letter-spacing: 0.7px;
  color: #CCCCCC;
}

@media (max-width: 575.98px) {
  .en-sub-title {
    font-size: 10px;
    font-weight: 500;
    letter-spacing: 0.5px;
    line-height: 1;
    padding-top: 10px;
  }
}

a {
  color: #8C5FB4;
  text-decoration: none;
}

a:hover {
  color: #8C5FB4;
  text-decoration: underline;
}

form {
  padding: 0;
  margin: 50px auto;
  text-align: center;
  position: relative;
}

form .form-group {
  margin-bottom: 20px;
}

form .form-group:last-child {
  margin-bottom: 0;
}

form .form-container {
  width: 536px;
  max-width: 100%;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  form .form-container {
    padding-top: calc((720px + 30px) * 0.02683);
  }
}

@media (min-width: 1440px) {
  form .form-container {
    padding-top: calc((900px + 30px) * 0.02683);
  }
}

@media (min-width: 1920px) {
  form .form-container {
    padding-top: calc((1088px + 30px) * 0.02683);
  }
}

@media (max-width: 1199.98px) {
  form .form-container {
    padding-top: calc(100% * 0.02683);
  }
}

form .form-container .field-intro {
  line-height: 1;
  text-align: center;
}

@media (min-width: 1200px) {
  form .form-container .field-intro {
    padding-bottom: calc((720px + 30px) * 0.0322);
  }
}

@media (min-width: 1440px) {
  form .form-container .field-intro {
    padding-bottom: calc((900px + 30px) * 0.0322);
  }
}

@media (min-width: 1920px) {
  form .form-container .field-intro {
    padding-bottom: calc((1088px + 30px) * 0.0322);
  }
}

@media (max-width: 1199.98px) {
  form .form-container .field-intro {
    padding-bottom: calc(100% * 0.0322);
  }
}

form .form-container p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.6px;
  text-align: left;
}

form fieldset {
  /*stacking fieldsets above each other*/
  position: relative;
  /*Hide all except first fieldset*/
}

@media (min-width: 1200px) {
  form fieldset {
    padding-bottom: calc((720px + 30px) * 0.05367);
  }
}

@media (min-width: 1440px) {
  form fieldset {
    padding-bottom: calc((900px + 30px) * 0.05367);
  }
}

@media (min-width: 1920px) {
  form fieldset {
    padding-bottom: calc((1088px + 30px) * 0.05367);
  }
}

@media (max-width: 1199.98px) {
  form fieldset {
    padding-bottom: calc(100% * 0.05367);
  }
}

form fieldset:not(:first-of-type) {
  display: none;
}

form .btn-outline {
  background-color: transparent;
}

@media (max-width: 991.98px) {
  form .form-container {
    width: 400px;
  }
}

@media (max-width: 575.98px) {
  form .form-container {
    padding-top: 36px;
  }
  form .form-container p {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
  }
  form fieldset {
    padding-bottom: 36px;
  }
}

.with-checkbox {
  position: relative;
  display: block;
  text-align: left;
  margin: 0;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.6px;
}

.with-checkbox input {
  position: absolute;
  left: 0;
}

.radio__button {
  letter-spacing: 1.6px;
}

.radio__button .custom-control {
  padding-left: 25px;
}

.radio__button .custom-control.custom-checkbox {
  cursor: pointer;
  min-height: auto;
}

.radio__button .custom-control.custom-checkbox input {
  display: none;
}

.radio__button .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-image: url("../img/icon/icon-check.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}

.radio__button .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::after {
  display: none;
}

.radio__button .custom-control.custom-checkbox .custom-control-input:focus ~ .custom-control-label::before {
  -webkit-box-shadow: none;
          box-shadow: none;
}

.radio__button .custom-control.custom-checkbox .custom-control-label {
  line-height: 1;
  -webkit-touch-callout: none;
  /* iOS Safari */
  -webkit-user-select: none;
  /* Safari */
  /* Konqueror HTML */
  -moz-user-select: none;
  /* Firefox */
  -ms-user-select: none;
  /* Internet Explorer/Edge */
  user-select: none;
}

.radio__button .custom-control.custom-checkbox .custom-control-label::before {
  width: 12px;
  height: 12px;
  border-radius: 0;
  border: solid 1px #CCCCCC;
  top: .1rem;
  background: transparent;
}

@media (max-width: 575.98px) {
  .radio__button {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
}

.form-check {
  padding: 0;
}

.form-check input {
  display: none;
}

.form-check input:checked ~ label {
  color: #39351c;
  border-color: #CCCCCC;
  background-color: #CCCCCC;
}

.form-check label {
  padding: 12px;
  border: solid 1px #CCCCCC;
  border-radius: 6px;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  width: 100%;
  margin-bottom: 20px;
  cursor: pointer;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #CCCCCC;
}

.form-check label:hover {
  color: #39351c;
  border-color: #CCCCCC;
  background-color: #CCCCCC;
}

@media (max-width: 575.98px) {
  .form-check label {
    font-size: 14px;
    letter-spacing: 1.2px;
    padding: 13px;
  }
}

.food-type {
  position: relative;
}

.food-type input:checked ~ .checker {
  background-color: #CCCCCC;
  border-color: #CCCCCC;
}

.food-type .checker {
  position: absolute;
  border: solid 1px #8C5FB4;
  border-radius: 100%;
  height: 18px;
  width: 18px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  transition: 0.3s;
  -webkit-transition: 0.3s;
  z-index: 5;
  margin: 0;
  padding: 0;
}

@media (max-width: 575.98px) {
  .food-type .checker {
    height: 12px;
    width: 12px;
  }
}

.select-format label {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

@media (max-width: 575.98px) {
  .select-format label {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
}

.select2-container--default .select2-selection--single {
  height: auto;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
  padding: 5px 17px;
  border: solid 1px #CCCCCC;
  border-radius: 6px;
  color: #8C5FB4;
  text-align: left;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder {
  color: #595757;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
  position: absolute;
  top: 50%;
  right: 14px;
  width: 20px;
  height: 20px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/icon/icon-arrow.svg");
  background-repeat: no-repeat;
  background-size: cover;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
  display: none;
}

.select2-container--default.select2-container--focus .select2-selection--single .select2-selection__rendered {
  border-color: #8C5FB4;
}

.select2-container--default.select2-container--open .select2-selection__arrow {
  -webkit-transform: translateY(-50%) rotate(180deg);
          transform: translateY(-50%) rotate(180deg);
}

.select2-container--default.select2-container--open .select2-dropdown {
  border-radius: 6px;
  border: solid 1px #8C5FB4;
  background: #101010;
  overflow: hidden;
}

.select2-container--default.select2-container--open .select2-dropdown--above {
  bottom: 5px;
}

.select2-container--default.select2-container--open .select2-dropdown--below {
  top: 5px;
}

.select2-container--default .select2-results__options .select2-results__option {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  padding-left: 17px;
}

.select2-container--default .select2-results__options .select2-results__option.select2-results__option--highlighted {
  background: #8C5FB4;
  color: #39351c;
}

.select2-container--default.select2-container--open, .select2-container--default.select2-container--focus {
  /* width: 536px !important; */
  max-width: 100%;
}

@media (max-width: 575.98px) {
  .select2-container--default .select2-selection--single .select2-selection__rendered {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
    padding: 6px 20px;
  }
  .select2-container--default .select2-results__options .select2-results__option {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
    padding-left: 20px;
  }
}

.with-icon {
  position: relative;
}

.with-icon label {
  display: block;
  text-align: left;
  font-size: 16px;
  line-height: 1;
  letter-spacing: 1.6px;
  margin-bottom: 10px;
}

.with-icon .field-icon-wrapper {
  position: relative;
  width: 100%;
}

.with-icon input {
  position: relative;
  width: 100%;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 1.6px;
  padding: 10px 17px;
  border-radius: 6px;
  background: transparent;
  border: solid 1px #9FA0A0;
  color: #8C5FB4;
  cursor: pointer;
  z-index: 10;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

.with-icon input::-webkit-input-placeholder {
  color: #595757;
}

.with-icon input:-ms-input-placeholder {
  color: #595757;
}

.with-icon input::-ms-input-placeholder {
  color: #595757;
}

.with-icon input::placeholder {
  color: #595757;
}

.with-icon input:focus {
  outline: 0;
  border-color: #8C5FB4;
}

.with-icon .field-icon {
  position: absolute;
  right: 18px;
  top: 50%;
  width: 12px;
  height: 12px;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-image: url("../img/icon/icon-calendar.svg");
  background-repeat: no-repeat;
  background-size: cover;
  cursor: pointer;
}

@media (max-width: 575.98px) {
  .with-icon label {
    font-size: 14px;
  }
  .with-icon input {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
    padding: 6px 20px;
  }
}

.calender-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}

.calender-wrapper #ui-datepicker-div {
  top: 5px !important;
  right: 0;
  left: inherit !important;
  width: 378px;
  max-width: 100%;
  border: solid 1px #8C5FB4;
  border-radius: 6px;
  background-color: #101010;
  padding: 8px;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 8px;
  background-color: rgba(77, 77, 77, 0.8);
  border-radius: 4px;
  padding: 7px 16px;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-title {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-title .ui-datepicker-month,
.calender-wrapper #ui-datepicker-div .ui-datepicker-title .ui-datepicker-year {
  color: #CCCCCC;
}

.calender-wrapper #ui-datepicker-div .ui-corner-all .ui-icon {
  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icon/icon-arrow.svg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #101010;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-prev {
  -webkit-transform: rotate(90deg);
          transform: rotate(90deg);
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-next {
  -webkit-box-ordinal-group: 4;
      -ms-flex-order: 3;
          order: 3;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar {
  width: 100%;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td, .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th {
  height: 36px;
  position: relative;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th span {
  color: #8C5FB4;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.5;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-today::before {
  opacity: 1;
  border-color: #CCCCCC;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-unselectable a, .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  color: #4D4D4D;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day a {
  color: #4D4D4D;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day::before {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  opacity: 1;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover {
  cursor: pointer;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a {
  color: #4D4D4D;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover::before {
  border-color: #CCCCCC;
  background-color: #CCCCCC;
  opacity: 1;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td::before {
  position: absolute;
  opacity: 0;
  content: '';
  width: 36px;
  height: 36px;
  border: solid 1px #ddd;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  -webkit-transition: 0.3s;
  transition: 0.3s;
  z-index: -1;
}

.calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td a, .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td span {
  display: block;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.5;
  margin-left: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #CCCCCC;
}

@media (max-width: 575.98px) {
  .calender-wrapper #ui-datepicker-div .ui-datepicker-header {
    padding: 3px 14px;
    margin-bottom: 5px;
  }
  .calender-wrapper #ui-datepicker-div .ui-datepicker-title {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th {
    height: 20px;
  }
  .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th span {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td {
    height: 33px;
  }
  .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td a, .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td span {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
}

#isVegetarian {
  width: 100%;
  counter-reset: num;
  border-collapse: separate;
  border-spacing: 0;
}

#isVegetarian .customer::after {
  content: counter(num);
  counter-increment: num;
  padding-left: 5px;
}

#isVegetarian tr.isVegetarian-Group {
  display: none;
}

#isVegetarian tr.isVegetarian-Group.show-radioGroup {
  display: table-row;
}

#isVegetarian tr:first-child td {
  border-top-width: 1px;
}

#isVegetarian tr:first-child td:first-child {
  border-top-left-radius: 6px;
}

#isVegetarian tr:first-child td:last-child {
  border-top-right-radius: 6px;
}

#isVegetarian tr.last-row td:first-child {
  border-bottom-left-radius: 6px;
}

#isVegetarian tr.last-row td:last-child {
  border-bottom-right-radius: 6px;
}

#isVegetarian td {
  width: calc(100% / 3);
  padding: 16px 0;
  border-style: solid;
  border-color: #CCCCCC;
  border-width: 0 0 1px 1px;
}

#isVegetarian td:last-child {
  border-right-width: 1px;
}

@media (max-width: 575.98px) {
  #isVegetarian td {
    font-size: 14px;
    letter-spacing: 1.4px;
    line-height: 1.5;
    padding: 10px 0;
  }
}

fieldset.step-1 .form-container {
  width: 526px;
}

@media (min-width: 1200px) {
  fieldset.step-1 .feature-btn {
    padding-top: calc((720px + 30px) * 0.04293);
  }
}

@media (min-width: 1440px) {
  fieldset.step-1 .feature-btn {
    padding-top: calc((900px + 30px) * 0.04293);
  }
}

@media (min-width: 1920px) {
  fieldset.step-1 .feature-btn {
    padding-top: calc((1088px + 30px) * 0.04293);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-1 .feature-btn {
    padding-top: calc(100% * 0.04293);
  }
}

@media (min-width: 1200px) {
  fieldset.step-2 .feature-btn {
    padding-top: calc((720px + 30px) * 0.20394);
  }
}

@media (min-width: 1440px) {
  fieldset.step-2 .feature-btn {
    padding-top: calc((900px + 30px) * 0.20394);
  }
}

@media (min-width: 1920px) {
  fieldset.step-2 .feature-btn {
    padding-top: calc((1088px + 30px) * 0.20394);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-2 .feature-btn {
    padding-top: calc(100% * 0.20394);
  }
}

fieldset.step-2 .filled-data {
  width: 100%;
}

fieldset.step-2 .filled-data .notice td {
  padding-top: 36px;
  padding-bottom: 36px;
}

fieldset.step-2 .filled-data .notice td:last-child {
  white-space: pre-wrap;
}

fieldset.step-2 .filled-data td {
  text-align: left;
  color: #CCCCCC;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
  vertical-align: top;
}

@media (max-width: 1199.98px) {
  fieldset.step-2 .filled-data td {
    display: inline-table;
  }
}

fieldset.step-2 .filled-data td:first-child {
  text-align: right;
  padding-right: 48px;
  min-width: 120px;
  color: #8C5FB4;
  font-weight: bold;
}

@media (max-width: 1199.98px) {
  fieldset.step-2 .filled-data td:first-child {
    text-align: left;
    min-width: 100%;
  }
}

@media (min-width: 1200px) {
  fieldset.step-3 .feature-btn {
    padding-top: calc((720px + 30px) * 0.07513);
  }
}

@media (min-width: 1440px) {
  fieldset.step-3 .feature-btn {
    padding-top: calc((900px + 30px) * 0.07513);
  }
}

@media (min-width: 1920px) {
  fieldset.step-3 .feature-btn {
    padding-top: calc((1088px + 30px) * 0.07513);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-3 .feature-btn {
    padding-top: calc(100% * 0.07513);
  }
}

fieldset.step-3 .form-group {
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

fieldset.step-3 .form-group:first-child, fieldset.step-3 .form-group.show-field {
  opacity: 1;
  pointer-events: inherit;
}

fieldset.step-4 .form-container {
  padding-top: 0;
}

fieldset.step-4 .field-intro {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.6px;
  color: #CCCCCC;
}

@media (min-width: 1200px) {
  fieldset.step-4 .field-intro {
    padding-bottom: calc((720px + 30px) * 0.05367);
  }
}

@media (min-width: 1440px) {
  fieldset.step-4 .field-intro {
    padding-bottom: calc((900px + 30px) * 0.05367);
  }
}

@media (min-width: 1920px) {
  fieldset.step-4 .field-intro {
    padding-bottom: calc((1088px + 30px) * 0.05367);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-4 .field-intro {
    padding-bottom: calc(100% * 0.05367);
  }
}

fieldset.step-4 .form-group label,
fieldset.step-4 .form-group .table-label {
  font-size: 16px;
  /* line-height: 1; */
  letter-spacing: 1.6px;
  text-align: left;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 10px;
}

fieldset.step-4 .form-group label .error-msg,
fieldset.step-4 .form-group .table-label .error-msg {
  font-size: 12px;
  letter-spacing: 1.2px;
  margin-left: 10px;
  color: #ff7ea4;
}

fieldset.step-4 .form-group input,
fieldset.step-4 .form-group textarea {
  width: 100%;
  border-radius: 6px;
  border: solid 1px #9FA0A0;
  background-color: transparent;
  padding: 12px 17px;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #8C5FB4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

fieldset.step-4 .form-group input::-webkit-input-placeholder,
fieldset.step-4 .form-group textarea::-webkit-input-placeholder {
  color: #595757;
}

fieldset.step-4 .form-group input:-ms-input-placeholder,
fieldset.step-4 .form-group textarea:-ms-input-placeholder {
  color: #595757;
}

fieldset.step-4 .form-group input::-ms-input-placeholder,
fieldset.step-4 .form-group textarea::-ms-input-placeholder {
  color: #595757;
}

fieldset.step-4 .form-group input::placeholder,
fieldset.step-4 .form-group textarea::placeholder {
  color: #595757;
}

fieldset.step-4 .form-group input:-webkit-autofill,
fieldset.step-4 .form-group textarea:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 100px #101010 inset;
  background-color: transparent;
  color: #8C5FB4;
  -webkit-text-fill-color: #8C5FB4;
}

fieldset.step-4 .form-group input:focus, fieldset.step-4 .form-group input:-webkit-autofill:focus,
fieldset.step-4 .form-group textarea:focus,
fieldset.step-4 .form-group textarea:-webkit-autofill:focus {
  border-color: #8C5FB4;
  box-shadow: none;
  -webkit-box-shadow: 0 0 0 100px #101010 inset;
  outline: 0;
}

fieldset.step-4 .form-group textarea {
  line-height: 2;
  height: 180px;
}

@media (min-width: 1200px) {
  fieldset.step-4 .feature-btn {
    padding-top: calc((720px + 30px) * 0.07513);
  }
}

@media (min-width: 1440px) {
  fieldset.step-4 .feature-btn {
    padding-top: calc((900px + 30px) * 0.07513);
  }
}

@media (min-width: 1920px) {
  fieldset.step-4 .feature-btn {
    padding-top: calc((1088px + 30px) * 0.07513);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-4 .feature-btn {
    padding-top: calc(100% * 0.07513);
  }
}

@media (min-width: 1200px) {
  fieldset.step-5 .feature-btn {
    padding-top: calc((720px + 30px) * 0.10197);
  }
}

@media (min-width: 1440px) {
  fieldset.step-5 .feature-btn {
    padding-top: calc((900px + 30px) * 0.10197);
  }
}

@media (min-width: 1920px) {
  fieldset.step-5 .feature-btn {
    padding-top: calc((1088px + 30px) * 0.10197);
  }
}

@media (max-width: 1199.98px) {
  fieldset.step-5 .feature-btn {
    padding-top: calc(100% * 0.10197);
  }
}

fieldset.step-5 .feature-btn .multi-btn .previous {
  -ms-flex: 1 1 auto !important;
  -webkit-box-flex: 1 !important;
          flex: 1 1 auto !important;
}

fieldset.step-5 .feature-btn .multi-btn .submit {
  width: 240px;
  margin-left: 20px;
}

fieldset.step-5 .filled-data {
  width: 100%;
}

fieldset.step-5 .filled-data .notice td {
  padding-top: 36px;
  padding-bottom: 36px;
}

fieldset.step-5 .filled-data .notice td:last-child {
  white-space: pre-wrap;
}

fieldset.step-5 .filled-data td {
  text-align: left;
  color: #CCCCCC;
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
  vertical-align: top;
}

fieldset.step-5 .filled-data td:first-child {
  text-align: right;
  padding-right: 48px;
  min-width: 120px;
  color: #8C5FB4;
  font-weight: bold;
}

fieldset .coupon-code td {
  padding-top: 24px;
}

fieldset .coupon-code input {
  margin-right: 20px;
  border-radius: 6px;
  border: solid 1px #9FA0A0;
  background-color: transparent;
  padding: 12px 17px;
  font-size: 16px;
  letter-spacing: 1.6px;
  color: #8C5FB4;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  line-height: normal;
}

fieldset .coupon-code input::-webkit-input-placeholder {
  color: #595757;
}

fieldset .coupon-code input:-ms-input-placeholder {
  color: #595757;
}

fieldset .coupon-code input::-ms-input-placeholder {
  color: #595757;
}

fieldset .coupon-code input::placeholder {
  color: #595757;
}

fieldset .coupon-code input:focus {
  border-color: #8C5FB4;
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: 0;
}

fieldset .coupon-code .verification-code {
  width: 33.33%;
  min-width: auto;
  padding: 0;
  border-radius: 6px;
}

fieldset .coupon-code .submit-coupon {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
  color: #8C5FB4;
}

fieldset .coupon-code .submit-coupon:first-child {
  margin-top: 15px;
}

fieldset .submit {
  width: 240px;
}

fieldset .submit-coupon-error-message {
  font-size: 14px;
  letter-spacing: 1.4px;
  line-height: 1.5;
  margin-top: 10px;
}

fieldset .prefix-dash {
  margin: 0;
  padding-left: 14px;
  list-style-type: none;
  text-align: left;
}

fieldset .prefix-dash li {
  padding-bottom: 15px;
  letter-spacing: 1.6px;
  text-indent: -14px;
}

fieldset .prefix-dash li::before {
  content: '-';
  margin-right: 7px;
}

fieldset .prefix-step .prefix {
  padding-right: 48px;
  color: #8C5FB4;
}

@media (max-width: 575.98px) {
  fieldset .prefix-step .prefix {
    padding-right: 24px;
  }
}

@media (max-width: 991.98px) {
  fieldset.step-1 .form-container {
    width: 400px;
  }
}

@media (max-width: 575.98px) {
  fieldset.step-1 .feature-btn {
    padding-top: 36px;
  }
  fieldset.step-1 .feature-btn .btn-outline {
    width: 240px;
  }
  fieldset.step-2 .form-container {
    padding-top: 30px;
  }
  fieldset.step-2 .field-intro {
    padding-bottom: 20px;
  }
  fieldset.step-4 .form-container {
    padding-top: 30px;
  }
  fieldset.step-4 .form-group label,
  fieldset.step-4 .form-group .table-label {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
  fieldset.step-4 .form-group input,
  fieldset.step-4 .form-group textarea {
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 10px 20px;
  }
  fieldset.step-4 .form-group textarea {
    line-height: 2;
    padding: 7px 20px;
  }
  fieldset.step-4 .field-intro {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
    text-align: left;
  }
  fieldset.step-5 .filled-data.notice td {
    padding-top: 27px;
    padding-bottom: 27px;
  }
  fieldset.step-5 .filled-data td {
    font-size: 14px;
    line-height: 2;
    letter-spacing: 1.4px;
  }
  fieldset.step-5 .filled-data td:first-child {
    font-size: 12px;
    line-height: 2.33;
    letter-spacing: 1.2px;
    padding-right: 12px;
    min-width: 66px;
  }
  fieldset.step-5 .multi-btn .previous {
    width: 120px;
  }
  fieldset.step-5 .multi-btn .submit {
    width: 192px;
  }
  fieldset .coupon-code input {
    width: auto;
    font-size: 14px;
    letter-spacing: 1.4px;
    padding: 10px 20px;
    margin-right: -1px;
    border-radius: 6px 0 0 6px;
  }
  fieldset .coupon-code .verification-code {
    min-width: 100px;
    border-radius: 0 6px 6px 0;
    font-size: 14px;
    letter-spacing: 1.2px;
  }
  fieldset .coupon-code .submit-coupon {
    font-size: 12px;
    line-height: 2.33;
    letter-spacing: 1.2px;
  }
  fieldset .prefix-dash li {
    font-size: 14px;
    letter-spacing: 1.4px;
  }
}

#personalCapital {
  z-index: 99999;
}

#personalCapital .modal-dialog {
  width: 812px;
  max-width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: 0;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}

#personalCapital .modal-content {
  border-radius: 6px;
  overflow: hidden;
  border: 0;
  background-color: transparent;
}

#personalCapital .modal-header {
  background-color: #8C5FB4;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 21px 0;
  border-bottom: 0;
}

#personalCapital .modal-header .modal-title {
  font-size: 18px;
  color: #000000;
  line-height: 1;
  letter-spacing: 1.8px;
  font-weight: bold;
}

#personalCapital .modal-body-container {
  background-color: #000000;
}

#personalCapital .modal-body {
  margin: 50px 20px;
  padding: 0 100px;
  max-height: 55vh;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  /* width */
  /* Track */
  /* Handle */
}

#personalCapital .modal-body a {
  word-break: break-all;
}

#personalCapital .modal-body::-webkit-scrollbar {
  width: 6px;
}

#personalCapital .modal-body::-webkit-scrollbar-track {
  background: transparent;
}

#personalCapital .modal-body::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 3px;
}

#personalCapital .modal-body::-webkit-scrollbar-thumb:hover {
  opacity: 0.9;
}

#personalCapital .modal-body p {
  line-height: 1.75;
  letter-spacing: 1.6px;
  color: #CCCCCC;
}

#personalCapital .modal-footer {
  border-top: 0;
  padding: 21px 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 18px;
  line-height: 1;
  letter-spacing: 1.8px;
  background-color: #8C5FB4;
  color: #EFEFEF;
  opacity: 1;
  text-shadow: none;
  font-weight: bold;
}

#personalCapital .modal-footer:hover {
  opacity: 0.9;
}

@media (max-width: 1440px) {
  #personalCapital .modal-body {
    max-height: 40vh;
    margin: 40px 20px;
    padding: 0 20px;
  }
}

@media (max-width: 575.98px) {
  #personalCapital .modal-dialog {
    padding: 0 20px;
  }
  #personalCapital .modal-header {
    padding: 10px 0;
  }
  #personalCapital .modal-header .modal-title {
    line-height: 1.2;
  }
  #personalCapital .modal-body {
    margin: 20px 12px 0 20px;
    padding: 0 0 20px;
    max-height: calc(90vh - 200px);
    /* width */
  }
  #personalCapital .modal-body::-webkit-scrollbar {
    width: 2px;
  }
  #personalCapital .modal-body p {
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 1.4px;
  }
  #personalCapital .modal-footer {
    font-size: 16px;
    letter-spacing: 1.6px;
    padding: 13px 0;
  }
}

@media (max-width: 320px) {
  h3 {
    font-size: 22px;
  }
  .multi-btn button.btn-outline {
    width: 120px;
  }
  .form-check label {
    padding: 12px;
    line-height: 1.2;
  }
  .form-check label span {
    display: block;
  }
  .step-1 .radio__button a {
    width: 100%;
    text-align: left;
    margin-left: 25px;
  }
  fieldset.step-3 .feature-btn {
    padding-top: 50px;
  }
  fieldset.step-5 .multi-btn .previous {
    width: 80px;
  }
  fieldset.step-5 .filled-data tr {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  fieldset.step-5 .filled-data .coupon-note {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  fieldset.step-5 .filled-data .coupon-note td {
    width: 100%;
  }
  fieldset.step-5 .filled-data .coupon-note td:first-child {
    text-align: left;
  }
  fieldset.step-5 .filled-data .coupon-code td {
    width: 100%;
  }
  fieldset.step-5 .filled-data .coupon-code td:first-child {
    display: none;
  }
  button.btn-outline {
    font-size: 14px;
  }
}
/* 20230104飲食禁忌欄位新增 */
@media (min-width: 992px){
  .select-food {
    display: flex;
  }
}
.select-food .form-col {
  width: 100%;
  display: flex;
}
.select-food .form-col .form-label {
  min-width: 125px;
  margin-bottom: 0;
}

.select-food .form-row {
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  display: block;
}
@media (min-width: 992px){
  .select-food .form-row:not(:first-child) {
    margin-left: 20px;
  }
}
@media (max-width: 991px){
.select-food .form-row:first-child {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,.3);
  }
}
.select-food .col-wrap {
  width: 100%;
  padding: 0;
  margin: 0;
  border-top: 1px dashed rgba(255,255,255,.2);
  margin-top: 20px;
}
.select-food .col-wrap .form-col:first-child {
  margin-top: 20px;
}
.select-food .col-wrap .form-col {
  margin-top: 20px;
}
@media (max-width: 991px){
  .select-food .col-wrap {
    margin-top: 10px;
  }
  .select-food .col-wrap .form-col:first-child {
    margin-top: 10px;
  }
  .select-food .col-wrap .form-col {
    margin-top: 10px;
  }
}
/*# sourceMappingURL=form.css.map */