// Start==============================================================
// Change default container width

@mixin reContainer($width, $base-width) {
  @if ($base-width > 0) {
    .container {
      max-width: calc(#{$width} + #{$base-width}px);
    }
  } @else {
    .container {
      width: #{$width};
      padding-left: 20px;
      padding-right: 20px;
    }
  }

}

@media (min-width: 1200px) {
  @include reContainer(608px, 30);
}

@media (min-width: 1440px) {
  @include reContainer(768px, 30);
}

@media (min-width: 1920px) {
  @include reContainer(1088px, 30);
}

@media (max-width: 1199.98px) {
  @include reContainer(100%, 0);
}

// End================================================================
