// Variable
@import "variable";

// Override
body {
  background-color: $color-background !important;

  &::after {
    content: '';
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-image: url(../img/home/bg-wallpaper.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
}

header.logo {
  background-color: $color-background;
}

.anchor-wrapper {
  display: initial;
}

#rules-tab-switcher {
  position: sticky;
  position: -webkit-sticky;
  border-color: $color-k90;
  text-align: center;
  z-index: 9999;
  top: 120px;
  background-color: $color-background;
  background-image: url(../img/home/bg-wallpaper.jpg);
  background-repeat: repeat;
  background-size: cover;
  background-position-y: -120px;

  .nav-link.active,
  .nav-link:hover {
    background-color: transparent;
    border-color: $color-purple;
    border-radius: 0;
    border-width: 0 0 1px 0;
  }

  .nav-link {
    cursor: pointer;
    color: $color-k10;
    padding: 8.5px 0;
    margin: 0 11.5px -1px;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: $color-k90;
    letter-spacing: 2.2px;
    transition: border-color 0.3s;
  }

  @media (max-width: 1280px) {
    top: 114px;
    background-position-y: -114px;
  }

  @media (max-width: 1024px) {
    top: 90px;
    background-position-y: -90px;
  }

  @media (max-width: 1199.98px) {
    top: 60px;
    background-position-y: -60px;
  }

  @media (max-width: 320px) {
    top: 23px;
    background-position-y: -23px;

    .nav-link {
      letter-spacing: 1.2px;
      margin: 0 10px -1px;
    }
  }
}

#Rules {
  padding-top: 120px;
  @include baseCounter('padding-bottom', 0);

  .feature-btn {
    text-align: center;
    @include baseCounter('padding-bottom', 130);
  }

  .sub-title {
    line-height: 1.25;
    letter-spacing: 2.4px;
    font-weight: bold;
    @include baseCounter('padding-top', 127);
    @include baseCounter('padding-bottom', 35);
    text-align: center;
    margin-bottom: 0;

    &:first-child {
      padding-top: 0;
    }
  }

  ul, ol {
    li {
      line-height: 2;
      letter-spacing: 1.8px;

      &:not(:first-child) {
        @include baseCounter('padding-top', 8);
      }
    }
  }

  .rules.owl-carousel {
    @include baseCounter('padding-top', 81);

    .tab-content-inner {
      overflow: auto;
      overflow-x: hidden;
    }
  }

  #qa {
    .qa-title-separator {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.25;
      letter-spacing: 2.4px;
      color: $color-k50;
      border-top: solid 1px $color-k70;
      @include baseCounter('margin-top', 24);
      @include baseCounter('padding-top', 60);
    }

    .qa-note {
      width: 535px;
      max-width: 100%;
      margin: 0 auto;
      @include baseCounter('padding-top', 48);
      @include baseCounter('padding-bottom', 106);

      p {
        line-height: 2;
        text-align: left;
        text-indent: -26px;
        padding-left: 26px;

        @media (max-width: 1199.98px) {
          text-indent: -20px;
        padding-left: 20px;
        }
      }
    }
  }

  .to-change-and-refund,
  .to-presale-rules {
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;
  }

  .rule-according {
    width: 535px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px $color-k70;
    @include baseCounter('padding-bottom', 24);

    .card {
      background-color: transparent;
      border: 0;

      &:not(:first-child) {
        .card-header {
          @include baseCounter('margin-top', 24);
        }
      }

      & ~ .card:nth-child(n+12) {
        .card-header {    
          h6 {
            padding-left: 29px;
            text-indent: -29px;
          }
        }
      }
    }

    .card-body {
      position: relative;
      padding-left: 19px;
      padding-right: 19px;
      line-height: 2;
      letter-spacing: 1.8px;
      @include baseCounter('padding-top', 10);
      @include baseCounter('padding-bottom', 10);
      @include baseCounter('margin-left', 5);
      @include baseCounter('margin-top', 15);

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
        background: $color-k10;
      }

      &.number-list p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1.8px;
        text-indent: -24px;
        padding-left: 24px;
        text-align: left;
      }
    }

    .card-header {
      padding: 0;
      border-top: 1px solid $color-k70;
      border-radius: 0;

      h6 {
        position: relative;
        padding-left: 21px;
        text-indent: -21px;
        @include baseCounter('padding-top', 24);
        padding-bottom: 0;
        padding-right: 40px;
        margin-bottom: 0;
        font-weight: normal;
        background: transparent;
        cursor: pointer;
        line-height: 1.5;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          @include baseCounter('height', 24);
          transform: translateY(100%);
          width: 100%;
          z-index: 999;
        }

        &.is-open {
          .icon-arrow {
            transform: rotate(0deg);
            color: $color-k10;
          }
        }
      }

      .icon-arrow {
        position: absolute;
        text-indent: initial;
        font-size: 24px;
        right: 11px;
        transition: 0.3s;
        transform: rotate(180deg);
        color: $color-purple;
      }
    }

    @media (max-width: 1199.98px) {
      .card-header {
        h6 {
          font-size: 16px;
          letter-spacing: 1.6px;
        }
      }
    }
  }

  #presale-rules {
    width: 535px;
    max-width: 100%;
    margin: 0 auto;

    p {
      font-size: 16px;
      line-height: 2;

      &.category-title {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 2.67;
        text-decoration: underline;
      }
    }

    .feature-btn {
      @include baseCounter('padding-top', 106);
    }

    .rule-according {
      @include baseCounter('margin-bottom', 75);
    }
  }

  #changeAndrefund {
    width: 535px;
    max-width: 100%;
    margin: 0 auto;

    p {
      line-height: 2;
      text-align: left;

      &.category-title {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.8px;
        text-decoration: underline;
      }
    }

    .pre-note {
      width: 495px;
      max-width: 100%;
      margin: 0 auto;
      line-height: 2;
      text-align: left;
    }

    .feature-btn {
      @include baseCounter('padding-top', 106);
    }

    .sub-title {
      & + ul {
        width: 535px;
        max-width: 100%;
        margin: 0 auto;
      }

      & + p {
        width: 535px;
        max-width: 100%;
        margin: 0 auto;
        line-height: 2;
        text-align: left;
      }
    }

    .cancel-order {
      @include baseCounter('padding-top', 115);
    }

    .change-seat {
      @include baseCounter('padding-top', 81);
    }

    .rule-table {
      @include baseCounter('margin-top', 31);
      max-width: 670px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      border-bottom: solid 2px $color-purple;

      ul {
        text-align: left;
        margin: 0;
        padding-left: 25px;
        padding-right: 5px;
      }

      &.two-people {
        th {
          &.rule-col-1,
          &.rule-col-2 {
            width: 33.33%;
  
            @media (max-width: 1199.98px) {
              width: 30%;
            }
          }
  
          &.rule-col-3,
          &.rule-col-4,
          &.rule-col-5 {
            width: 11.11%;
  
            @media (max-width: 1199.98px) {
              width: auto;
            }
          }
        }
      }

      &.twice {
        th {
          &.rule-col-1 {
            width: 25%;
          }
  
          &.rule-col-2,
          &.rule-col-3 {
            width: 37.5%;
          }
        }
      }

      tr {
        border-color: $color-purple $color-purple $color-k50 $color-purple;
        border-style: solid;
        border-width: 0 2px 2px 2px;

        &:first-child {
          border-width: 2px;
          border-color: $color-purple;
        }

        &:last-child {
          border-width: 0 2px;
        }

        &.normal-border {
          border-width: 0 2px 1px 2px;
        }

        &.light-bg,
        &.light-bg td {
          background-color: $color-k90 !important;
        }
      }

      th {
        background-color: $color-purple;
        border-right: solid 1px $color-k90;
        @include baseCounter('padding-top', 15);
        @include baseCounter('padding-bottom', 15);
        text-align: center;
        letter-spacing: 1.8px;
        color: $color-text-black;
        font-weight: bold;

        &:last-child {
          border-right: 0;
        }
      }

      td {
        @include baseCounter('padding-top', 15);
        @include baseCounter('padding-bottom', 15);
        text-align: center;
        letter-spacing: 1.8px;
        line-height: 2;
        background-color: transparent;
        border-right: solid 1px $color-k50;

        @media (max-width: 1199.98px) {
          padding: 13px 0;
          letter-spacing: 1.4px;
          line-height: 2;
          font-size: 14px;
        }

        &.highlight-td {
          background-color: $color-k80;
          color: $color-k10;
          font-weight: 500;
        }
      }
    }

    .table-note-text {
      max-width: 670px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 12px;
      letter-spacing: 2px;
      margin-top: 10px;
      text-align: right;
    }

    .transfer-ticket {
      @include baseCounter('padding-top', 106);
    }

    .refund-process {
      @include baseCounter('padding-top', 91);
    }

    .majeure-factor {
      @include baseCounter('padding-top', 127);
    }

    .transaction-system {
      @include baseCounter('padding-top', 127);
    }

    .refund-item {
      display: flex;
      flex-direction: row;
      justify-content: space-around;

      .circle-item {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 14px;
        letter-spacing: 1.4px;
        line-height: 1.5;
        width: 120px;
        height: 120px;
        border: 1px solid $color-purple;
        border-radius: 50%;
        text-align: center;
      }
    }

    .presale-change {
      margin-bottom: 60px;

      .change-header {
        display: flex;
        flex-direction: row;
        padding-left: 85px;
        margin-bottom: 20px;

        .change-column-title {
          width: 50%;
          text-align: center;

          & + .change-column-title {
            margin-left: 30px;
          }
        }
      }

      .change-row {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-bottom: 20px;
        border-bottom: 1px solid $color-k90;
        margin-bottom: 20px;

        .change-row-title {
          min-width: 55px;

          .row-title-inner {
            display: inline-block;
            padding: 5px 10px;
            color: $color-text-black;
            font-weight: bold;
            background-color: $color-purple;
          }
        }

        .change-row-content {
          width: calc((100% - 55px)/2);
          padding: 10px 15px;
          border: 1px solid $color-k70;
          margin-left: 30px;

          @media (max-width: 1199.98px) {
            padding: 10px;
          }

          &:last-child {
            position: relative;

            &::before {
              content: '+';
              font-size: 24px;
              line-height: 1;
              color: $color-purple;
              position: absolute;
              text-align: center;
              top: 50%;
              left: -23px;
              transform: translateY(-50%);
              z-index: 1;
            }
          }

          .change-row-content-inner {
            font-size: 14px;
            letter-spacing: 1.4px;
            line-height: 1.5;
            text-align: center;
          }
        }
      }
    }
  }

  @media (max-width: 1200px) {
    .container {
      max-width: 700px;
    }

    .sub-title + ul li {
      letter-spacing: 1.6px;
    }
  }

  @media (max-width: 1199.98px) {
    #rules-tab-switcher {
      top: 60px;

      .nav-link {
        padding: 11px 0;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1.7px;
        margin: 0 9px -1px;
      }
    }

    .rules.owl-carousel {
      padding-top: 28px;

      .tab-content-inner {
        overflow-x: hidden;
      }
    }

    .feature-btn {
      padding-top: 75px;
    }

    .sub-title {
      padding: 77px 0 33px;
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: 1.8px;
    }

    ul {
      margin-left: -17px;

      li {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1.4px;

        &:not(:first-child) {
          padding-top: 4px;
        }
      }
    }

    #qa {
      .qa-title-separator {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 1.67;
        padding-top: 42px;
      }
      
      .qa-note {
        padding: 20px 0 0;
      }

      .feature-btn {
        padding-top: 42px;
      }
    }

    .rule-according {
      .card-header {
        h6 {
          padding: 12px 40px 0 16px;
          text-indent: -16px;
          line-height: 2;
          font-size: 14px;
          letter-spacing: 1.4px;

          &::after {
            height: 12px;
          }
        }
      }

      .card ~ .card:nth-child(n+12) {
        .card-header {    
          h6 {
            padding-left: 28px;
            text-indent: -28px;
          }
        }
      }

      .card:not(:first-child) .card-header {
        margin-top: 12px;
      }

      .card-body {
        margin-top: 15px;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1.4px;

        &.number-list p {
          font-size: 14px;
          line-height: 2;
          letter-spacing: 1.4px;
          text-indent: -21px;
          padding-left: 21px;
        }
      }
    }

    #presale-rules {
      .feature-btn {
        padding-top: 63px;
      }
    }

    #changeAndrefund {
      .sub-title + ul {
        width: 100%;
        margin-left: -17px;
      }
    }
  }

  @media (max-width: 320px) {
    .rule-according {
      .card-header {
        h6 {
          line-height: 1.5;
        }
      }
    }
  }
}