.modal__content {
  height: 55vh;
  overflow-y: scroll;
}

.modal__content::-webkit-scrollbar {
  width: 6px;
}

.modal__content::-webkit-scrollbar-thumb {
  background: #CCCCCC;
  border-radius: 3px;
}

.modal__content::-webkit-scrollbar-track {
  background: transparent;
}

/**************************\
  Basic Modal Styles
\**************************/

.modal__overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* background: rgba(0,0,0,0.6); */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 15px;
}

.modal__container {
  color: #fff;
  background-color: #000;
  max-width: 812px;
  border-radius: 4px;
  overflow-y: auto;
  box-sizing: border-box;
}

.modal__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  background: #009369;
  color: #fff;
}

@media screen and (min-width:768px) {
  .modal__header {
    padding: 20px;
  }
}

.modal__title {
  margin-top: 0;
  margin-bottom: 0;
  font-weight: 600;
  line-height: 1.25;
  text-align: center;
  flex: 1;
}

.modal__close {
  background: transparent;
  border: 0;
  cursor: pointer;
}

.modal__header .modal__close:before { 
  content: "\2715"; 
  color: #fff; 
  font-size: 24px;
}

.modal__header .modal__close:hover:before {
  opacity: 0.8;
}

.modal__body {
  padding: 30px 10px 30px 20px;
}

.modal__content {
  line-height: 1.5;
  padding: 0 10px 0 0;
}

@media screen and (min-width:768px) {
  .modal__content {
    padding: 0 20px;
  }
}

.modal__btn {
  font-size: .875rem;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: .5rem;
  padding-bottom: .5rem;
  background-color: #e6e6e6;
  color: rgba(0,0,0,.8);
  border-radius: .25rem;
  border-style: none;
  border-width: 0;
  cursor: pointer;
  -webkit-appearance: button;
  text-transform: none;
  overflow: visible;
  line-height: 1.15;
  margin: 0;
  will-change: transform;
  -moz-osx-font-smoothing: grayscale;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  transition: -webkit-transform .25s ease-out;
  transition: transform .25s ease-out;
  transition: transform .25s ease-out,-webkit-transform .25s ease-out;
}

.modal__btn:focus, .modal__btn:hover {
  -webkit-transform: scale(1.05);
  transform: scale(1.05);
}

.modal__btn-primary {
  background-color: #00449e;
  color: #fff;
}

.modal__footer {
  padding: 10px 20px;
  background: #009369;
  font-weight: 600;
  text-align: center;
  cursor: pointer;
  transition: background .2s;
}

@media screen and (min-width:768px) {
  .modal__footer {
    padding: 20px;
  }
}

.modal__footer:hover {
  background: #086f51;
}


/**************************\
  Demo Animation Style
\**************************/
@keyframes mmfadeIn {
    from { opacity: 0; }
      to { opacity: 1; }
}

@keyframes mmfadeOut {
    from { opacity: 1; }
      to { opacity: 0; }
}

@keyframes mmslideIn {
  from { transform: translateY(15%); }
    to { transform: translateY(0); }
}

@keyframes mmslideOut {
    from { transform: translateY(0); }
    to { transform: translateY(-10%); }
}

.micromodal-slide {
  display: none;
}

.micromodal-slide.is-open {
  display: block;
}

.micromodal-slide[aria-hidden="false"] .modal__overlay {
  animation: mmfadeIn .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

/* .micromodal-slide[aria-hidden="false"] .modal__container {
  animation: mmslideIn .3s cubic-bezier(0, 0, .2, 1);
} */

.micromodal-slide[aria-hidden="true"] .modal__overlay {
  animation: mmfadeOut .3s cubic-bezier(0.0, 0.0, 0.2, 1);
}

/* .micromodal-slide[aria-hidden="true"] .modal__container {
  animation: mmslideOut .3s cubic-bezier(0, 0, .2, 1);
} */

.micromodal-slide .modal__container,
.micromodal-slide .modal__overlay {
  will-change: transform;
}