@import "_micromodal.css";
* {
  box-sizing: border-box;
}
*::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #C17F7E;
  opacity: 1; /* Firefox */
}
*:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #C17F7E;
}
*::-ms-input-placeholder { /* Microsoft Edge */
  color: #C17F7E;
}

body {
  margin: 0;
  background: #260307;
  background-image: url(../img/pattern.png);
  background-size: 100% auto;
  background-repeat: repeat-y;
  color: #fff;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 36px */
  padding-top: 78px;
}
@media screen and (min-width: 992px) {
  body {
    padding-top: 120px;
  }
}

a {
  text-decoration: none;
  color: #fff;
  word-break: break-all;
}
a.hover-underline:hover {
  text-decoration: underline;
}

p {
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%; /* 36px */
  margin: 0 0 15px 0;
}

main {
  padding: 76px 17px 146px 17px;
}

h1 {
  color: #F4D9D4;
  text-align: center;
  /* H1 Heading 36pt */
  font-family: "Noto Serif TC";
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 4.5px;
  text-indent: 4.5px;
  margin: 0 0 21px 0;
}
@media screen and (min-width: 768px) {
  h1 {
    font-size: 34px;
  }
}

h2 {
  font-family: "jeanne-moderno";
  font-size: 40px;
  font-style: italic;
  font-weight: 425;
  line-height: 120%; /* 48px */
  margin: 0;
}
@media screen and (min-width: 768px) {
  h2 {
    font-size: 34px;
  }
}

h3 {
  color: #E28A8A;
  text-align: center;
  /* H3 Sub Heading 20pt */
  font-family: "txc-pearl";
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 24px */
  letter-spacing: 1.5px;
  text-indent: 1.5px;
  text-transform: uppercase;
}

h4 {
  color: #E28A8A;
  /* H4 Title 28pt */
  font-family: "Noto Sans TC";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 33.6px */
  letter-spacing: 2.1px;
  text-indent: 2.1px;
  margin: 0 0 14px 0;
}
@media screen and (min-width: 768px) {
  h4 {
    font-size: 26px;
    margin: 0 0 14px 0;
  }
}

.input-group {
  margin-bottom: 26px;
  position: relative;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input-group:last-child {
  margin-bottom: 0;
}
.input-group label {
  display: block;
  font-family: "Noto Sans TC";
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 130%; /* 36px */
  margin-bottom: 10px;
  color: #F4D9D4;
}
@media screen and (min-width: 768px) {
  .input-group label {
    font-size: 18px;
  }
}
.input-group input[type=text], .input-group input[type=email], .input-group textarea {
  display: block;
  width: 100%;
  border-radius: 10px;
  border: 1px solid #F4115D;
  color: #fff;
  font-size: 18px;
  padding: 10px 12px;
  background: none;
}
.input-group input[type=text]:focus, .input-group input[type=email]:focus, .input-group textarea:focus {
  outline: none;
  border-color: #fff;
}

img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
}

.title {
  margin-bottom: 60px;
}
@media screen and (min-width: 1500px) {
  .title {
    margin-bottom: 96px;
  }
}
.title img {
  width: 121px;
  margin-bottom: 16px;
}

div.p-btn, a.p-btn {
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-indent: 1px;
  padding: 10px 54px;
  border-radius: 30px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  div.p-btn, a.p-btn {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 2.1px;
    text-indent: 2.1px;
    padding: 12px 54px;
    border-radius: 30px;
  }
}
div.p-btn.disabled, a.p-btn.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}
div.p-btn.primary, a.p-btn.primary {
  color: #F4D9D4;
  background: #016060;
  border: 2px solid #016060;
}
div.p-btn.primary.outline, a.p-btn.primary.outline {
  background: none;
}
div.p-btn.primary:not(.disabled):hover, a.p-btn.primary:not(.disabled):hover {
  background: #055353;
  border: 2px solid #055353;
}
div.p-btn.primary:not(.disabled):hover.outline, a.p-btn.primary:not(.disabled):hover.outline {
  background: none;
}
div.p-btn.secondary, a.p-btn.secondary {
  background: #C41244;
  color: #F4D9D4;
}
div.p-btn.secondary:not(.disabled):hover, a.p-btn.secondary:not(.disabled):hover {
  background: #a10f38;
}

button.p-btn {
  color: #fff;
  font-size: 17px;
  line-height: 26px;
  font-weight: 500;
  letter-spacing: 1px;
  text-indent: 1px;
  padding: 10px 54px;
  border-radius: 30px;
  transition: all 0.2s;
  cursor: pointer;
  border: none;
  outline: none;
}
@media screen and (min-width: 768px) {
  button.p-btn {
    font-size: 21px;
    line-height: 30px;
    letter-spacing: 2.1px;
    text-indent: 2.1px;
    padding: 12px 54px;
    border-radius: 30px;
  }
}
button.p-btn:active, button.p-btn:focus {
  border: none;
  outline: none;
}
button.p-btn[disabled] {
  opacity: 0.6;
  cursor: not-allowed;
}
button.p-btn.primary {
  color: #F4D9D4;
  background: #016060;
  border: 2px solid #016060;
}
button.p-btn.primary.outline {
  background: none;
}
button.p-btn.primary:hover:not([disabled]) {
  background: #055353;
  border: 2px solid #055353;
}
button.p-btn.primary:hover:not([disabled]).outline {
  background: none;
}
button.p-btn.secondary {
  background: #009369;
}
button.p-btn.secondary:hover:not([disabled]) {
  background: #006d4e;
}

.checkbox-group {
  display: flex;
  align-items: center;
  margin-bottom: 26px;
}
.checkbox-group:last-child {
  margin-bottom: 0;
}
.checkbox-group label {
  display: flex;
  align-items: center;
  padding-left: 37px;
  position: relative;
  cursor: pointer;
}
.checkbox-group label input {
  display: none;
}
.checkbox-group label span {
  line-height: 22px;
}
.checkbox-group label span:before {
  width: 20px;
  height: 20px;
  border-radius: 0;
  border: solid 1px #F4115D;
  top: 0.1rem;
  background: transparent;
  position: absolute;
  left: 0;
  display: block;
  pointer-events: none;
  content: "";
  user-select: none;
}
.checkbox-group label span:after {
  position: absolute;
  top: 0.25rem;
  left: 0;
  display: block;
  width: 1rem;
  height: 1rem;
  content: "";
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.checkbox-group .modal-btn, .checkbox-group a {
  margin-left: 5px;
  cursor: pointer;
  text-decoration: underline;
}
.checkbox-group .modal-btn:hover, .checkbox-group a:hover {
  text-decoration: none;
}
.checkbox-group input:checked ~ span:before {
  background-image: url(../img/icon-check.svg);
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
  background-color: transparent;
}
.checkbox-group input:checked ~ span:after {
  display: none;
}

.select-wrapper {
  position: absolute;
  width: 100%;
}
.select-wrapper .select2-container {
  top: 8px !important;
}

.select2 {
  width: 100% !important;
  border: 1px solid #F4115D;
  border-radius: 10px !important;
  transition: 0.2s;
}
.select2.select2-container--focus {
  border-color: #fff;
}

.select2-container--default .select2-selection--single {
  color: #3BA2FF;
  background: none;
  padding: 5px 12px;
  height: auto;
  border: none;
}

.select2-selection__arrow {
  display: none;
}

.select2-dropdown {
  background: none;
  border: 1px solid #F4115D !important;
  border-radius: 10px !important;
  background: #260307;
}

.select2-results {
  padding: 9px 7px;
}

.select2-container--default .select2-results__option--selected {
  background: none;
}

.select2-container--default .select2-results__option--highlighted.select2-results__option--selectable {
  background: #016060;
  border-radius: 10px;
}

.select2-results__option {
  line-height: 1.4;
  padding: 7px 10px;
  margin: 6px 0;
  color: #C17F7E;
}

.select2-container--default .select2-selection--single .select2-selection__placeholder,
.select2-container--default .select2-selection--single .select2-selection__rendered {
  color: #C17F7E;
  line-height: 31px;
}
.select2-container--default .select2-selection--single .select2-selection__placeholder.select2-selection__rendered,
.select2-container--default .select2-selection--single .select2-selection__rendered.select2-selection__rendered {
  color: #fff;
}

.select2-container .select2-selection--single .select2-selection__rendered {
  padding-left: 0;
}

#main-header {
  padding: 20px;
  width: 100%;
  max-width: 100% !important;
  height: 78px;
  display: flex;
  flex-direction: column;
  z-index: 999;
  transition: all 0.3s;
}
@media screen and (min-width: 992px) {
  #main-header {
    height: 186px;
    align-items: center;
  }
}
#main-header .pc {
  display: none;
}
@media screen and (min-width: 992px) {
  #main-header .pc {
    display: block;
  }
}
@media screen and (min-width: 992px) {
  #main-header .m {
    display: none;
  }
}
#main-header .flex {
  display: flex;
}
#main-header .justify-between {
  justify-content: space-between;
}
#main-header .items-center {
  align-items: center;
}
#main-header .mob-toggle {
  width: 36px;
  height: 36px;
  cursor: pointer;
  position: relative;
}
#main-header .mob-toggle:before, #main-header .mob-toggle:after {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 5px));
  width: 30px;
  height: 1px;
  background: #fff;
  transform-origin: center center;
  transition: transform 0.4s;
}
#main-header .mob-toggle:after {
  transform: translate(-50%, calc(-50% + 5px));
}
#main-header.open {
  height: 100%;
}
@media screen and (min-width: 992px) {
  #main-header.open {
    height: auto;
  }
}
#main-header.open .mob-toggle:before, #main-header.open .mob-toggle:after {
  transform: translate(-50%, -50%) rotate(45deg);
}
#main-header.open .mob-toggle:after {
  transform: translate(-50%, -50%) rotate(-45deg);
}
#main-header.open nav {
  display: flex;
}
#main-header .brand-logo img {
  transition: all 0.3s;
}
@media screen and (min-width: 992px) {
  #main-header .brand-logo img {
    width: 187px;
  }
}
#main-header nav {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: none;
  transition: all 0.3s;
}
@media screen and (min-width: 992px) {
  #main-header nav {
    display: flex !important;
    flex-direction: row;
    max-width: 970px;
    width: 100%;
    justify-content: space-between;
    margin-top: 10px;
  }
}
#main-header nav a {
  font-family: "Noto Serif TC";
  font-size: 34px;
  font-weight: 600;
  line-height: 120%;
  letter-spacing: 4.5px;
  margin: 10px 0;
  position: relative;
  color: #F4D9D4;
  transition: color 0.4s;
}
@media screen and (min-width: 992px) {
  #main-header nav a {
    font-family: "Noto Sans TC";
    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 200%;
    margin: 0;
  }
  #main-header nav a.active:before {
    content: "";
    width: 160px;
    height: 160px;
    background-image: url(../img/nav-active.svg);
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
  }
  #main-header nav a:after {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    background: #F4D9D4;
    transform: scaleX(0);
    transform-origin: 0 50%;
    transition: transform 0.4s ease-out;
  }
  #main-header nav a:hover:after {
    transform: scaleX(1);
  }
}
#main-header nav a.active {
  color: #F4115D;
}
@media screen and (min-width: 992px) {
  #main-header nav a.active {
    color: #F4D9D4;
  }
}
#main-header.always-fixed {
  position: fixed;
  top: 0;
  left: 0;
}
#main-header.fixed {
  background: #260307;
}
@media screen and (min-width: 992px) {
  #main-header.fixed {
    padding: 15px 20px 0;
    height: 92px !important;
  }
}
@media screen and (min-width: 992px) {
  #main-header.fixed .brand-logo img {
    width: 70px;
  }
}
@media screen and (min-width: 992px) {
  #main-header.fixed nav {
    margin-top: 3px;
  }
}

#main-footer {
  margin-top: 40px;
  padding: 50px 15px 30px 15px;
}
@media screen and (min-width: 992px) {
  #main-footer {
    margin-top: 100px;
    padding: 200px 160px 40px 160px;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
  }
}
#main-footer .social {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
#main-footer .social img {
  width: 36px;
  margin: 0 15px;
}
@media screen and (min-width: 992px) {
  #main-footer .social img {
    width: 44px;
  }
}
#main-footer .copyright {
  color: #F4D9D4;
  text-align: center;
  font-size: 14px;
  line-height: 200%; /* 32px */
}
@media screen and (min-width: 992px) {
  #main-footer .copyright {
    font-size: 16px;
  }
}

#fixed-booking {
  position: fixed;
  bottom: 100px;
  right: 20px;
  width: 70px;
  opacity: 0.95;
  transition: opacity 0.2s;
  z-index: 1;
}
@media screen and (min-width: 768px) {
  #fixed-booking {
    bottom: 150px;
    right: 50px;
    width: 100px;
  }
}
#fixed-booking:hover {
  opacity: 1;
}

#leading {
  color: #F4D9D4;
}
#leading .info {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 1500px) {
  #leading .info {
    margin-bottom: 142px;
  }
}
#leading .invite-code {
  max-width: 544px;
  margin: 0 auto;
  text-align: center;
}
#leading .invite-code .input-wrapper {
  margin-bottom: 30px;
}
@media screen and (min-width: 1500px) {
  #leading .invite-code .input-wrapper {
    margin-bottom: 115px;
  }
}
#leading .invite-code .input-wrapper .input-group {
  margin-bottom: 0;
}
#leading .invite-code .input-wrapper .error {
  color: #F4115D;
  margin-top: 12px;
  overflow: hidden;
}
#leading .invite-code .input-wrapper .error .error-inner {
  opacity: 0;
  transform: translateY(100%);
}
#leading .invite-code .input-wrapper .error.show .error-inner {
  opacity: 1;
  transform: translateY(0);
}
#leading .invite-code .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#leading .invite-code .actions .p-btn {
  margin-bottom: 40px;
}
#leading .invite-code .actions .p-btn:last-child {
  margin-bottom: 0;
}

#notice {
  color: #F4D9D4;
}
#notice a {
  color: #F4D9D4;
}
#notice .info {
  text-align: center;
  margin-bottom: 88px;
}
#notice .information {
  max-width: 1032px;
  margin: 0 auto;
  padding: 0 20px;
}
@media screen and (min-width: 768px) {
  #notice .information {
    padding: 0;
  }
}
@media screen and (min-width: 768px) {
  #notice .information .information-inner {
    display: flex;
    justify-content: space-between;
  }
}
@media screen and (min-width: 768px) {
  #notice .information .information-inner .col {
    width: calc(50% - 16px);
  }
}
#notice .information .information-inner .grid {
  padding-top: 24px;
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  #notice .information .information-inner .col:nth-child(1) .grid:nth-child(1) {
    margin-bottom: 70px;
  }
}
#notice .information .information-inner ul {
  margin: 0;
  padding-left: 18px;
}
#notice .information .information-inner ul li {
  margin-bottom: 2rem;
}
#notice .information .information-inner ul li ul {
  list-style: disc;
  margin-bottom: 0;
  padding-left: 2em;
}
#notice .information .information-inner ul li ul li {
  margin-bottom: 0;
}
#notice .information .actions {
  display: flex;
  justify-content: center;
  margin-top: 56px;
}

#booking {
  color: #F4D9D4;
}
#booking a {
  color: #F4D9D4;
}
#booking #step1 {
  max-width: 784px;
  margin: 0 auto;
  padding-bottom: 60px;
}
#booking #step1 .input-group:last-child {
  margin-bottom: 20px;
}
#booking #step1 .price {
  text-align: center;
  margin-bottom: 98px;
}
@media screen and (min-width: 768px) {
  #booking #step1 .price {
    display: flex;
    justify-content: space-between;
  }
}
#booking #step1 .price .item {
  margin-bottom: 70px;
}
#booking #step1 .price .item:last-child {
  margin-bottom: 0;
}
#booking #step1 .price .icon {
  margin-bottom: 29px;
}
@media screen and (min-width: 768px) {
  #booking #step1 .price .icon {
    width: 100%;
    height: 162px;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
#booking #step1 .price .icon img {
  max-height: 100%;
  object-fit: contain;
}
#booking #step1 .price h4 {
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  #booking #step1 .price h4 {
    margin-bottom: 29px;
  }
}
#booking #step1 .price h2 {
  color: #F4115D;
}
#booking #step1 .price h2 span {
  font-family: "Noto Sans TC";
  font-weight: 400;
  line-height: 200%;
  margin-left: 14px;
  font-size: 16px;
  font-style: normal;
}
@media screen and (min-width: 768px) {
  #booking #step1 .price h2 span {
    font-size: 18px;
  }
}
#booking #step1 .price .desc {
  margin-top: 30px;
  color: #F4D9D4;
  font-family: "Noto Sans TC";
  font-weight: 400;
  line-height: 200%; /* 36px */
}
@media screen and (min-width: 768px) {
  #booking #step1 .price .desc {
    text-align: left;
  }
}
@media screen and (min-width: 768px) {
  #booking #step1 .selects {
    margin-bottom: 60px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
  }
}
@media screen and (min-width: 768px) {
  #booking #step1 .selects > div {
    width: calc(50% - 16px);
  }
}
@media screen and (min-width: 768px) {
  #booking #step1 .guests {
    width: 256px;
  }
}
#booking #step1 .date {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
@media screen and (min-width: 768px) {
  #booking #step1 .date {
    width: calc(100% - 256px - 32px);
  }
}
#booking #step1 .date .calender-wrapper {
  position: absolute;
  right: 0;
  bottom: 0;
  width: 100%;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div {
  top: 5px !important;
  left: 0 !important;
  width: 100%;
  border: solid 1px #F4115D;
  border-radius: 10px;
  background-color: #260307;
  padding: 8px;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 8px;
  background-color: #016060;
  border-radius: 4px;
  padding: 7px 16px;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-title {
  font-size: 16px;
  line-height: 2.25;
  letter-spacing: 1.6px;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-title .ui-datepicker-month,
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-title .ui-datepicker-year {
  color: #F4D9D4;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-corner-all .ui-icon {
  display: block;
  font-size: 0;
  width: 20px;
  height: 20px;
  background: url("../img/icon-arrow.svg") no-repeat;
  background-size: cover;
  border-radius: 50%;
  background-color: #101010;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-prev {
  transform: rotate(90deg);
  cursor: pointer;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-next {
  -webkit-box-ordinal-group: 4;
  -ms-flex-order: 3;
  order: 3;
  transform: rotate(-90deg);
  cursor: pointer;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar {
  width: 100%;
  text-align: center;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td, #booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th {
  height: 36px;
  position: relative;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar th span {
  color: #F4D9D4;
  font-size: 16px;
  letter-spacing: 1.6px;
  line-height: 1.5;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-today::before {
  opacity: 1;
  border-color: #F4D9D4;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-unselectable a, #booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-unselectable span {
  color: #4D4D4D;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day a {
  color: #4D4D4D;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td a {
  position: relative;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.ui-datepicker-current-day::before {
  border-color: #F4D9D4;
  background-color: #F4D9D4;
  opacity: 1;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover {
  cursor: pointer;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover a {
  color: #4D4D4D;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:not(.ui-datepicker-unselectable):hover::before {
  border-color: #F4D9D4;
  background-color: #F4D9D4;
  opacity: 1;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td::before {
  position: absolute;
  opacity: 0;
  content: "";
  width: 36px;
  height: 36px;
  border: solid 1px #F4D9D4;
  border-radius: 50%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s;
  z-index: 0;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td:after {
  position: absolute;
  content: "";
  top: 100%;
  left: 50%;
  transform: translate(-30%, -30%);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.sold-out-soon:after {
  background: #E85455;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.still-vacancy:after {
  background: #EFCEA3;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td.sold-out:after {
  background: #AA8495;
}
#booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td a, #booking #step1 .date .calender-wrapper #ui-datepicker-div .ui-datepicker-calendar td span {
  /* display: block; */
  font-size: 16px;
  letter-spacing: 1.6px;
  margin-left: 2px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #F4D9D4;
}
#booking #step1 .date .calender-wrapper .calender-ps {
  width: 100%;
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
#booking #step1 .date .calender-wrapper .calender-ps div {
  display: flex;
  align-items: center;
  margin-left: 15px;
}
#booking #step1 .date .calender-wrapper .calender-ps span {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}
#booking #step1 .date .calender-wrapper .calender-ps p {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 1.6px;
  text-align: left;
  margin: 0 5px;
}
#booking #step1 .time {
  opacity: 0;
  pointer-events: none;
  transition: opacity 0.2s;
}
#booking #step1 .actions {
  display: flex;
  justify-content: center;
  margin-top: 72px;
}
#booking #step2 .step2-form {
  margin: 0 auto;
  max-width: 700px;
}
@media screen and (min-width: 1500px) {
  #booking #step2 .step2-form {
    max-width: 928px;
  }
}
@media screen and (min-width: 768px) {
  #booking #step2 .step2-form .flex {
    display: flex;
    justify-content: space-between;
  }
}
#booking #step2 .step2-form .phone-group .flex {
  display: flex;
  justify-content: space-between;
}
#booking #step2 .step2-form .phone-group .code-wrapper {
  width: 130px;
  position: relative;
}
@media screen and (min-width: 768px) {
  #booking #step2 .step2-form .phone-group .code-wrapper {
    width: 245px;
  }
}
#booking #step2 .step2-form .phone-group .select2-container--open .select2-dropdown--below {
  width: 255px !important;
}
#booking #step2 .step2-form .phone-group .phone {
  width: calc(100% - 130px - 14px);
}
@media screen and (min-width: 768px) {
  #booking #step2 .step2-form .phone-group .phone {
    width: calc(100% - 245px - 32px);
  }
}
#booking #step2 .step2-form .half-group .input-group {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  #booking #step2 .step2-form .half-group .input-group {
    width: calc(50% - 16px);
  }
}
#booking #step2 .step2-form .checkboxes {
  margin-top: 60px;
}
#booking #step2 .step2-form .error {
  font-size: 14px;
  color: #F4115D;
  line-height: 1;
  margin-top: 5px;
}
#booking #step2 .step2-form .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 63px;
}
#booking #step2 .step2-form .actions .p-btn {
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}
#booking #step2 .step2-form .actions .p-btn:last-child {
  margin-bottom: 0;
}
#booking #step3 {
  color: #F4D9D4;
}
#booking #step3 .step3-form {
  max-width: 1025px;
  margin: 0 auto;
}
@media screen and (min-width: 1000px) {
  #booking #step3 .step3-form {
    display: flex;
    justify-content: space-between;
  }
}
#booking #step3 .step3-form .ticket-inner {
  width: 350px;
  margin: 0 auto 60px auto;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner {
    width: 448px;
  }
}
@media screen and (min-width: 1000px) {
  #booking #step3 .step3-form .ticket-inner {
    margin: 0;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket {
  width: 350px;
  height: 235px;
  margin: 0 auto;
  background-image: url(../img/booking_ticket_m.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px 39px 0 48px;
  color: #016060;
  position: relative;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket {
    width: 448px;
    height: 301px;
    background-image: url(../img/booking_ticket.png);
    padding: 24px 36px 0 192px;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket table {
  border-collapse: collapse;
  width: 100%;
  max-width: 170px;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket table {
    max-width: 220px;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket table td {
  padding: 5px 0;
  vertical-align: top;
  line-height: 120%;
  font-size: 13px;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket table td {
    padding: 5px 0;
    line-height: 130%;
    font-size: 16px;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket table td:nth-child(odd) {
  white-space: nowrap;
  padding-right: 10px;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket table td:nth-child(odd) {
    padding-right: 16px;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket .addr {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  top: 163px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket .addr {
    font-size: 16px;
    line-height: 200%;
    top: 214px;
    left: 0;
  }
}
#booking #step3 .step3-form .ticket-inner .ticket .addr svg {
  display: block;
  margin: 0 4px 0 0;
}
#booking #step3 .step3-form .ticket-inner .ticket .addr .note {
  width: 100%;
  font-size: 10px;
  line-height: 200%; /* 20px */
}
@media screen and (min-width: 495px) {
  #booking #step3 .step3-form .ticket-inner .ticket .addr .note {
    font-size: 13px;
  }
}
@media screen and (min-width: 1000px) {
  #booking #step3 .step3-form .form-inner {
    width: calc(100% - 448px - 40px);
  }
}
@media screen and (min-width: 1000px) {
  #booking #step3 .step3-form .form-inner .flex {
    display: flex;
    justify-content: space-between;
  }
}
#booking #step3 .step3-form .form-inner .align-items-end {
  align-items: flex-end;
}
#booking #step3 .step3-form .form-inner .phone-group .flex {
  display: flex;
  justify-content: space-between;
}
#booking #step3 .step3-form .form-inner .phone-group .code {
  width: 80px;
}
@media screen and (min-width: 768px) {
  #booking #step3 .step3-form .form-inner .phone-group .code {
    width: 160px;
  }
}
#booking #step3 .step3-form .form-inner .phone-group .phone {
  width: calc(100% - 80px - 14px);
}
@media screen and (min-width: 768px) {
  #booking #step3 .step3-form .form-inner .phone-group .phone {
    width: calc(100% - 160px - 32px);
  }
}
#booking #step3 .step3-form .form-inner .half-group .input-group {
  margin-bottom: 26px;
}
@media screen and (min-width: 768px) {
  #booking #step3 .step3-form .form-inner .half-group .input-group {
    width: calc(50% - 16px);
  }
}
#booking #step3 .step3-form .form-inner .filed-value {
  padding-bottom: 2px;
  border-bottom: 1px solid #F4115D;
}
#booking #step3 .step3-form .form-inner .note {
  font-size: 12px;
  line-height: 120%; /* 14.4px */
  color: #E85455;
  margin-top: -17px;
}
@media screen and (min-width: 768px) {
  #booking #step3 .step3-form .form-inner .note {
    margin-top: 0;
    transform: translateX(-15px);
  }
}
#booking #step3 .step3-form .form-inner .notice {
  margin-top: 72px;
}
#booking #step3 .step3-form .form-inner .notice span, #booking #step3 .step3-form .form-inner .notice a {
  color: #E85455;
  cursor: pointer;
}
#booking #step3 .step3-form .form-inner .notice span:hover, #booking #step3 .step3-form .form-inner .notice a:hover {
  text-decoration: underline;
}
#booking #step2 .actions, #booking #step3 .actions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  max-width: 200px;
  margin: 0 auto;
  margin-top: 63px;
}
#booking #step2 .actions .p-btn, #booking #step3 .actions .p-btn {
  margin-bottom: 40px;
  padding-left: 0;
  padding-right: 0;
  text-align: center;
  width: 100%;
}
#booking #step2 .actions .p-btn:last-child, #booking #step3 .actions .p-btn:last-child {
  margin-bottom: 0;
}
#booking #step2#step3 .actions, #booking #step3#step3 .actions {
  max-width: 256px;
}

#booking-success {
  color: #F4D9D4;
}
#booking-success .info {
  text-align: center;
  margin-bottom: 108px;
}
#booking-success .ticket {
  width: 350px;
  height: 235px;
  margin: 0 auto;
  background-image: url(../img/booking_ticket_m.png);
  background-size: contain;
  background-repeat: no-repeat;
  padding: 20px 39px 0 48px;
  color: #016060;
  position: relative;
}
@media screen and (min-width: 495px) {
  #booking-success .ticket {
    width: 448px;
    height: 301px;
    background-image: url(../img/booking_ticket.png);
    padding: 24px 36px 0 192px;
  }
}
#booking-success .ticket table {
  border-collapse: collapse;
  width: 100%;
  max-width: 170px;
  margin: 0 0 0 auto;
}
@media screen and (min-width: 495px) {
  #booking-success .ticket table {
    max-width: 220px;
  }
}
#booking-success .ticket table td {
  padding: 5px 0;
  vertical-align: top;
  line-height: 120%;
  font-size: 13px;
}
@media screen and (min-width: 495px) {
  #booking-success .ticket table td {
    padding: 5px 0;
    line-height: 130%;
    font-size: 16px;
  }
}
#booking-success .ticket table td:nth-child(odd) {
  white-space: nowrap;
  padding-right: 10px;
}
@media screen and (min-width: 495px) {
  #booking-success .ticket table td:nth-child(odd) {
    padding-right: 16px;
  }
}
#booking-success .ticket .addr {
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 200%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  text-align: center;
  position: absolute;
  top: 163px;
  left: 0;
  width: 100%;
}
@media screen and (min-width: 495px) {
  #booking-success .ticket .addr {
    font-size: 16px;
    line-height: 200%;
    top: 214px;
    left: 0;
  }
}
#booking-success .ticket .addr svg {
  display: block;
  margin: 0 4px 0 0;
}
#booking-success .ticket .addr .note {
  width: 100%;
  font-size: 10px;
  line-height: 200%; /* 20px */
}
@media screen and (min-width: 495px) {
  #booking-success .ticket .addr .note {
    font-size: 13px;
  }
}
#booking-success .actions {
  display: flex;
  justify-content: center;
  margin-top: 84px;
}

#booking-fail {
  color: #F4D9D4;
}
#booking-fail .info {
  text-align: center;
}
#booking-fail .info a {
  color: #F4D9D4;
}
#booking-fail .actions {
  display: flex;
  justify-content: center;
  margin-top: 60px;
}

/*# sourceMappingURL=booking.css.map */
