@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  --loading-bg: #232666;
  --loading-ball: #dd7777;
}

* {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container-xl {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

@media screen and (min-width: 1200px) {
  .container-xl {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}

@media screen and (min-width: 1680px) {
  .container-xl {
    max-width: 1640px;
  }
}

.row {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

@media screen and (min-width: 1200px) {
  .row {
    margin-right: -16px !important;
    margin-left: -16px !important;
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
.col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-auto {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

@media screen and (max-width: 1200px) {
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto,
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
  .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
  .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
  .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-auto {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

@media screen and (min-width: 1199.99px) {
  .content-wrap {
    width: 552px;
    margin: 0 auto;
  }
}

.content-wrap .progress-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 12px;
}

@media screen and (min-width: 1199.99px) {
  .content-wrap .progress-wrap {
    position: fixed;
    top: 50vh;
    left: 6.9vw;
    -webkit-transform: translateY(-50%);
            transform: translateY(-50%);
  }
}

.content-wrap .body-wrap {
  margin-top: 30px;
}

.content-wrap .body-wrap .section-heading-wrap {
  margin-bottom: 20px;
}

.content-wrap .form-wrap-step-1 {
  margin-top: 42px;
}

.content-wrap .form-wrap-step-1 .form-group + .form-group {
  margin-top: 24px;
}

.form-wrap-step-3 .form-group {
  display: flex;
  flex-wrap: wrap;
  align-items: baseline;
}


.content-wrap .form-wrap-step-2 {
  margin-top: 60px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-2 {
    margin-top: 42px;
  }
}

.content-wrap .form-wrap-step-2 .from-block + .from-block {
  border-top: 1px solid rgba(255, 156, 156, 0.5);
  padding-top: 60px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-2 .from-block + .from-block {
    padding-top: 42px;
  }
}

.content-wrap .form-wrap-step-2 .from-block {
  padding-bottom: 60px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-2 .from-block {
    padding-bottom: 42px;
  }
}

.content-wrap .form-wrap-step-2 .from-block:last-child {
  padding-bottom: 0px;
}

.content-wrap .form-wrap-step-2 .from-block .form-group {
  margin-top: 24px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-2 .from-block .form-group {
    margin-top: 20px;
  }
}

.content-wrap .form-wrap-step-3 {
  margin-top: 42px;
}

.content-wrap .form-wrap-step-3 .form-group + .form-group {
  margin-top: 24px;
}

.content-wrap .form-wrap-step-3 .checkbox-block {
  padding: 30px 0 0 16px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-3 .checkbox-block {
    padding: 24px 0 0;
  }
}

.content-wrap .form-wrap-step-3 .checkbox-block .form-group + .form-group {
  margin-top: 20px;
}

@media screen and (max-width: 1199.98px) {
  .content-wrap .form-wrap-step-3 .checkbox-block .form-group + .form-group {
    margin-top: 15px;
  }
}

.content-wrap .form-wrap-step-4 {
  margin-top: 42px;
}

.content-wrap .form-wrap-step-4 .section-heading-wrap {
  margin-bottom: 24px;
}

.content-wrap .cta-wrap {
  margin-top: 120px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.form-wrap-step-2 .note {
  color: #efcabf;
  margin-top: 24px;
  line-height: 1.7;
  font-size: 14px;
}

.form-wrap-step-2 .note a {
  color: #efcabf;
  text-decoration: underline;
  transition: .15s color;
}

.form-wrap-step-2 .note a:hover {
  color: #ff9c9c;
  text-decoration: none;
}

@media screen and (min-width: 800px) {
  .tickets {
    display: flex;
    justify-content: space-between;
  }
}
.tickets .ticket {
  max-width: 350px;
  margin: 0 auto 30px auto;
}
@media screen and (min-width: 800px) {
  .tickets .ticket {
    margin: 0;
    width: calc(33.3333% - 20px);
  }
}
.tickets img {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
}
.tickets p {
  color: #ff9c9c;
  text-align: center;
  font-weight: 700;
  font-size: 18px;
}

#step1 .body-wrap {
  max-width: 900px;
  margin: 30px auto 20px auto;
}

.calender-ps {
    max-width: 410px;
    width: 100%;
    margin-top: 15px;
    display: flex;
    justify-content: flex-end;
}
.calender-ps div {
    display: flex;
    align-items: center;
    margin-left: 15px;
    font-size: 16px;
    
}
.calender-ps span {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin: 8px 8px;
}
.ui-datepicker-calendar td{
    position: relative;
}

.ui-datepicker-calendar td:after {
  position: absolute;
  content: "";
  top: 85%;
  left: 50%;
  transform: translate(-50%, -4px);
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
.ui-datepicker-calendar td.sold-out-soon:after {
  background: #A55AFF;
}

.ui-datepicker-calendar td.still-vacancy:after {
  background: #E55D33;
}

.ui-datepicker-calendar td.sold-out:after {
  background: #3737FC;
}

.tk-datepicker .tk-datepicker-body .grid .mask {
  position: absolute;
  bottom: -10px;
  left: -4px;
  width: 302px;
  height: 142px;
  background: #232666;
  z-index: 1;
  pointer-events: none;
  background-image: url(/terminalAssets/images/main/end-img.webp);
  background-size: 187px;
  background-position: 37px -23px;
  background-repeat: no-repeat;
}