@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@400;500;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Saira+Condensed:wght@400;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Shrikhand&display=swap");
:root {
  --loading-bg: #232666;
  --loading-ball: #dd7777;
}

* {
  -webkit-font-smoothing: antialiased;
}

h1, h2, h3, h4, h5, h6, p, ul, li {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

.container-xl {
  padding-right: 20px !important;
  padding-left: 20px !important;
}

@media screen and (min-width: 1200px) {
  .container-xl {
    padding-right: 16px !important;
    padding-left: 16px !important;
  }
}

@media screen and (min-width: 1680px) {
  .container-xl {
    max-width: 1640px;
  }
}

.row {
  margin-right: -20px !important;
  margin-left: -20px !important;
}

@media screen and (min-width: 1200px) {
  .row {
    margin-right: -16px !important;
    margin-left: -16px !important;
  }
}

.col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto,
.col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
.col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
.col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
.col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
.col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-auto {
  padding-right: 16px !important;
  padding-left: 16px !important;
}

@media screen and (max-width: 1200px) {
  .col, .col-1, .col-2, .col-3, .col-4, .col-5, .col-6, .col-7, .col-8, .col-9, .col-10, .col-11, .col-12, .col-auto,
  .col-lg, .col-lg-1, .col-lg-10, .col-lg-11, .col-lg-12, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-auto,
  .col-md, .col-md-1, .col-md-10, .col-md-11, .col-md-12, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-auto,
  .col-sm, .col-sm-1, .col-sm-10, .col-sm-11, .col-sm-12, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-auto,
  .col-xl, .col-xl-1, .col-xl-10, .col-xl-11, .col-xl-12, .col-xl-2, .col-xl-3, .col-xl-4, .col-xl-5, .col-xl-6, .col-xl-7, .col-xl-8, .col-xl-9, .col-xl-auto,
  .col-xxl, .col-xxl-1, .col-xxl-10, .col-xxl-11, .col-xxl-12, .col-xxl-2, .col-xxl-3, .col-xxl-4, .col-xxl-5, .col-xxl-6, .col-xxl-7, .col-xxl-8, .col-xxl-9, .col-xxl-auto {
    padding-right: 20px !important;
    padding-left: 20px !important;
  }
}

.color-y100 {
  color: #ffcc99;
}

.color-y200 {
  color: #efaf50;
}

.skip-background-light {
  position: relative;
  z-index: 1001;
}

.text-sction {
  width: 536px;
  margin: 0 auto;
}

@media screen and (max-width: 1199.98px) {
  .text-sction {
    width: 100%;
  }
}

.background-light {
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 1000;
  pointer-events: none;
}

.b-content-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.b-content-wrap .section-heading-wrap {
  margin-bottom: 30px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .section-heading-wrap {
    margin-bottom: 16px;
  }
}

.b-content-wrap .img-wrap {
  width: 100%;
  margin-bottom: 42px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .img-wrap {
    margin-bottom: 24px;
  }
}

.b-content-wrap .img-wrap.break-grid {
  width: 649px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .img-wrap.break-grid {
    width: 100%;
  }
}

.b-content-wrap .text-wrap,
.b-content-wrap .cta-wrap {
  text-align: center;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .text-wrap,
  .b-content-wrap .cta-wrap {
    padding: 0 16px;
  }
}

.b-content-wrap .text-wrap h4,
.b-content-wrap .cta-wrap h4 {
  font-weight: 500;
  margin-bottom: 20px;
  margin-top: 60px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .text-wrap h4,
  .b-content-wrap .cta-wrap h4 {
    margin-bottom: 16px;
    margin-top: 72px;
  }
}

.b-content-wrap .text-wrap p,
.b-content-wrap .cta-wrap p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.1em;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .text-wrap p,
  .b-content-wrap .cta-wrap p {
    font-size: 14px;
    line-height: 1.8;
  }
}

.b-content-wrap .text-wrap p + p,
.b-content-wrap .cta-wrap p + p {
  margin-top: 42px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .text-wrap p + p,
  .b-content-wrap .cta-wrap p + p {
    margin-top: 24px;
  }
}

.b-content-wrap .text-wrap p a,
.b-content-wrap .cta-wrap p a {
  font-size: inherit;
}

.b-content-wrap .cta-wrap {
  margin-top: 30px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .cta-wrap {
    margin-top: 24px;
  }
}

.b-content-wrap .cta-wrap .cta-note {
  margin-top: 20px;
}

@media screen and (max-width: 1199.98px) {
  .b-content-wrap .cta-wrap .cta-note {
    margin-top: 16px;
  }
}

.hero-section .hero-wrap {
  width: 100%;
  height: 100vh;
  position: relative;
}

.hero-section .hero-wrap .hero-img {
  width: 100%;
  height: 100%;
}

.hero-section .hero-wrap .hero-img img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: center center;
     object-position: center center;
}

.hero-section .hero-wrap .hero-btn {
  width: 21.9%;
  min-width: 252px;
  position: absolute;
  left: 50%;
  bottom: 60px;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 1;
  -webkit-transition: bottom 0.3s;
  transition: bottom 0.3s;
}

.hero-section .hero-wrap .hero-btn:hover {
  bottom: 54px;
}

@media screen and (max-width: 1199.98px) {
  .hero-section .hero-wrap .hero-btn {
    bottom: 48px;
  }
}

@media screen and (max-width: 1199.98px) {
  .project-section {
    padding: 90px 20px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-header {
  margin-top: 30px;
  margin-bottom: 36px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-header {
    margin-top: 16px;
    margin-bottom: 16px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-header .tab-controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
}

.project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item {
  margin: 0 10px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item {
    margin: 0 4px 8px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item .nav-link {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.1em;
  color: #efaf50;
  background-color: transparent;
  border-radius: 40px;
  border: 2px solid #efaf50;
  padding: 8px 24px;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item .nav-link {
    font-size: 14px;
    line-height: 1.42;
    padding: 6px 14px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item .nav-link.active {
  color: #000000;
  background-color: #efaf50;
}

.project-section .project-wrap .project-tab-wrap .tab-header .tab-controls .nav-item .nav-link:hover {
  color: #000000;
  border-color: #ef9425;
  background-color: #ef9425;
}

.project-section .project-wrap .project-tab-wrap .tab-content > .tab-pane {
  display: block;
  height: 0;
  pointer-events: none;
}

.project-section .project-wrap .project-tab-wrap .tab-content > .active {
  height: auto;
  pointer-events: unset;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover {
  position: relative;
  z-index: 1;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .slideshow-card {
  position: relative;
  z-index: 0;
  margin: 0;
  text-align: center;
  border-radius: 8px;
  overflow: hidden;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .slideshow-card figcaption {
  font-size: 14px;
  letter-spacing: 0.1em;
  line-height: 1.428;
  color: #ef9425;
  background-color: rgba(0, 0, 0, 0.4);
  padding: 10px 18px;
  border-radius: 40px;
  position: absolute;
  right: 24px;
  top: 24px;
  z-index: 1;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .slideshow-card figcaption {
    display: inline-block;
    position: static;
    margin-top: 12px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .slideshow-video {
  width: 100%;
  height: 0;
  padding-bottom: 65%;
  border-radius: 8px;
  overflow: hidden;
  position: relative;
  z-index: 1;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .slideshow-video iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .owl-theme .owl-dots {
  width: 100%;
  line-height: 1;
  margin-top: 9px;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ffffff;
  opacity: 1;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 3px;
  background-color: #ffffff;
  opacity: 0.5;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav ,
#discount .cta-wrap .custom-owl-nav{
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: calc((100vw - 120px) / 2.216 + 48px);
  height: 0;
  position: absolute;
  top: 10.5vw;
  /* top: 50%; */
  left: 50%;
  -webkit-transform: translate(-50%, -24px);
          transform: translate(-50%, -24px);
  z-index: 1;
}
@media screen and (min-width: 1200px) {
  #projects.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav ,
  #discount .cta-wrap .custom-owl-nav{
    top: 13.5vw;
  }
}
@media screen and (max-width: 1199.98px) {
  #projects.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav ,#discount .cta-wrap .custom-owl-nav{
    top: calc((100vw - 40px) * 0.65 / 2);
  }
}
#discount .cta-wrap .custom-owl-nav{
  top: 56%;
}
@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav ,#discount .cta-wrap .custom-owl-nav{
    width: 100%;
    height: 30px;
    padding: 0 18px;
    top: calc((100vw - 40px) * 0.49 / 2);
    -webkit-transform: translate(-50%, -15px);
            transform: translate(-50%, -15px);
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-prev,
.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-next,
#discount .cta-wrap .custom-owl-nav .custom-owl-prev,
#discount .cta-wrap .custom-owl-nav .custom-owl-next {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  color: #232666;
  background-color: #ffffff;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-prev,
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-next,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-prev,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-next {
    width: 30px;
    height: 30px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-prev:hover,
.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-next:hover, 
#discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-prev:hover,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-next:hover {
  color: #ffffff;
  background-color: #ef9425;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-prev i,
.project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-next i ,
#discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-prev i,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-next i {
  font-size: 36px;
  width: 36px;
  height: 36px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-prev i,
  .project-section .project-wrap .project-tab-wrap .tab-content .project-slideshow .content-inner--slideshow-cover .custom-owl-nav .custom-owl-next i ,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-prev i,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next .custom-owl-next i {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro {
  width: calc((100vw - 120px) / 2.216);
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro {
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap {
  width: 33.33%;
  padding: 18px 20px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    width: 100%;
    padding: 12px 4px;
    border-top: 1px solid rgba(239, 175, 80, 0.3);
    margin-top: 8px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  line-height: 1.428;
  letter-spacing: 0.1em;
  color: #ffcc99;
  min-height: 36px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item {
    width: 50%;
    font-size: 12px;
    line-height: 1.5;
    min-height: 30px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item i {
  font-size: 36px;
  width: 36px;
  height: 36px;
  margin-right: 4px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item i {
    font-size: 30px;
    width: 30px;
    height: 30px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item.has-emoji img {
  width: 20px;
  height: 20px;
  margin-right: 4px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item.has-emoji img {
    width: 18px;
    height: 18px;
  }
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .project-desc {
  width: 66.66%;
  font-size: 16px;
  font-weight: 500;
  line-height: 2.06;
  letter-spacing: 0.1em;
  color: #efaf50;
  padding: 24px 30px;
}

.project-section .project-wrap .project-tab-wrap .tab-content .project-intro .project-desc i {
  float: right;
}

@media screen and (max-width: 1199.98px) {
  .project-section .project-wrap .project-tab-wrap .tab-content .project-intro .project-desc {
    width: 100%;
    font-size: 14px;
    line-height: 1.88;
    padding: 8px 10px;
  }
}

.project-section .cta-wrap {
  text-align: center;
  margin-top: 30px;
}

@media screen and (max-width: 1199.98px) {
  .project-section .cta-wrap {
    margin-top: 24px;
  }
}
/*# sourceMappingURL=index.css.map */
#introduce .project-intro,
#introduce .cta-wrap{
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity .5s,transform 0s .5s;
}

#introduce .owl-item.center .project-intro,
#introduce .owl-item.center .cta-wrap {
  opacity: 1;
  transform: translateY(0px);
  transition: .5s .5s;
}

#introduce .heading-p {
  font-size: 18px;
  font-weight: 500;
  line-height: 1.9;
  letter-spacing: 0.1em;
  color: #efaf50;
  width: calc((100vw - 120px) / 2.216);
  margin: 0 auto;
  padding: 0 30px 20px;
  text-align: center;
}

#introduce .heading-p p:not(:first-child) {
  margin-top: 20px;
}

#introduce .heading-p p.italic {
  font-style: italic;
  opacity: .8;
  font-weight: lighter;
}

#introduce .feature-item {
  position: relative;
  padding: 5px 0;
  width: auto;
}

#introduce .feature-item::before {
  content: '';
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #ffcc99;
  margin-right: 13px;
}

@media screen and (min-width: 1200px) {
  #introduce .feature-wrap {
    width: 40%;
    padding: 25px 10px;
  }
  #introduce .project-desc {
    max-width: 600px;
    width: 100%;
    padding: 25px 10px;
    margin: 0 auto;
    text-align: center
  }
  #introduce .feature-wrap + .project-desc {
    max-width: 100%;
    width: 60%;
    text-align: left;
  }
}

@media screen and (max-width: 767px){
  #introduce .project-wrap .project-tab-wrap .tab-content .project-intro .feature-wrap .feature-item {
    padding: 3px 7px 3px 0;
    min-height: 25px;
  }
}

@media screen and (max-width: 1199.98px){
  #introduce .heading-p {
    font-size: 14px;
    line-height: 1.8;
    width: 100%;
    padding: 0 10px 20px;
  }
  #introduce .feature-item:first-child::before{
    content: none;
    margin-right: 0;
  }
  #introduce .feature-item:not(:first-child)::before {
    content: '/';
    width: 0;
    height: auto;
  }
  #introduce .feature-item {
    padding-right: 7px;
  }
}

.review-section {
  margin-top: 125px;
  padding-top: 125px;
}

.eapps-instagram-feed-title-container .eapps-instagram-feed-title {
  color: #efaf50;
  font-size: 36px;
  padding-bottom: 30px;
  line-height: 1.5;
}
@media screen and (max-width: 1199.98px) {
  .review-section {
    margin-top: 90px;
    padding-top: 90px;
  }

  .eapps-instagram-feed-title-container .eapps-instagram-feed-title {
    font-size: 28px;
    line-height: 1.46;
  }
}

#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-template-classic {
  background: rgba(255, 255, 255, .2)!important;
}

.eapps-instagram-feed-posts-item-template-classic {
  border: none!important;
}
.eapps-instagram-feed-content {
  min-height: 500px;
}
#eapps-instagram-feed-1 .eapps-instagram-feed-posts-item, #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-content, #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item-text, #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a, #eapps-instagram-feed-1 .eapps-instagram-feed-posts-item a:hover{
  color: #fff!important;
  background: none;
}

#discount .cta-wrap {
  position: relative;
}
#discount .discount-intro {
  max-width: 600px;
  width: 95%;
  margin: 0 auto;
  margin-top: 20px;
  line-height: 2;
  letter-spacing: 0.1em;
  opacity: 0;
  transform: translateY(-30px);
  transition: opacity .5s,transform 0s .5s;
}
#discount .discount-title {
  font-size: 22px;
  font-weight: 500;
  color: #efaf50;
  line-height: 1.3;
}
#discount .discount-p {
  margin-top: 20px;
  font-size: 16px;
  color: #efaf50;
}
@media screen and (max-width: 1199.98px) {
  #discount .discount-title {
    font-size: 18px;
  }
  #discount .discount-p {
    font-size: 14px;
    line-height: 1.8;
  }
}
#discount .owl-item.center .discount-intro {
  opacity: 1;
  transform: translateY(0px);
  transition: .5s .5s;
}
@media screen and (min-width: 1200px) {
  #discount .cta-wrap div.custom-owl-nav {
    top: 10.5vw;
  }
}
#discount .owl-theme .owl-dots .owl-dot span {
  width: 6px;
  height: 6px;
  margin: 3px;
  background-color: #ffffff;
  opacity: 0.5;
}
#discount .owl-theme .owl-dots .owl-dot.active span {
  background-color: #ffffff;
  opacity: 1;
}
#discount .custom-owl-nav {
  display: flex;
  justify-content: space-between;
  width: calc((100vw - 120px) / 2.216 + 48px);
  height: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -24px);
  z-index: 1;
}
@media screen and (max-width: 1199.98px) {
  #discount .cta-wrap .custom-owl-nav {
    width: 100%;
    height: 30px;
    padding: 0 18px;
    top: calc((100vw - 40px) * 0.49 / 2);
    transform: translate(-50%, -15px);
  }
}
@media screen and (max-width: 1199.98px) {
  #discount .cta-wrap .custom-owl-nav .custom-owl-prev,
  #discount .cta-wrap .custom-owl-nav .custom-owl-next {
    width: 30px;
    height: 30px;
  }
}
#discount .cta-wrap .custom-owl-nav .custom-owl-prev:hover, #discount .cta-wrap .custom-owl-nav .custom-owl-next:hover {
  color: #fff;
  background-color: #ef9425;
}
#discount .custom-owl-prev i,
#discount .custom-owl-next i {
  font-size: 36px;
  width: 36px;
  height: 36px;
}
@media screen and (max-width: 1199.98px) {
  #discount .custom-owl-prev i,
  #discount .custom-owl-next i {
    font-size: 22px;
    width: 22px;
    height: 22px;
  }
}

.timetable {
  position: relative;
  width: 360px;
  margin-bottom: 20px;
}
@media screen and (max-width: 767px) {
  .timetable {
    width: 60%;
  }
}

.timetable img {
  display: block;
  width: 100%;
  height: auto;
}

.timetable .marquee {
  position: absolute;
  left: 3%;
  width: 94%;
  text-align: center;
  font-size: 20px;
  color: #8be664;
  top: 18px;
  letter-spacing: 3px;
  font-weight: bold;
  overflow: hidden;
}
.timetable .marquee p {
  animation: marquee 15s infinite linear;
  white-space: nowrap;
}
@keyframes marquee {
  0%{
    transform: translate(100%,0);
  }
  100% {
    transform: translate(-100%,0);
  }
}
@media screen and (max-width: 767px) {
  .timetable .marquee {
    font-size: 3.5vw;
    top: 10%;
  }
}

.timetable .number{
  position: absolute;
  width: 100%;
  bottom: 17%;
  left: 0;
  display: flex;
}
.digitalitem {
  position: relative;
  transform: translate(0,-100%) scale(.6);
}
.digitalitem.day-1 {
  left: 35px;
}
.digitalitem.day-2 {
  left: 60px;
}
.digitalitem.separate1 {
  color: #8be664;
  transform: scale(1);
  font-size: 14px;
  left: 95px;
}
.digitalitem.hour-1 {
  left: 138px;
}
.digitalitem.hour-2 {
  left: 163px;
}
.digitalitem.separate2 {
  color: #8be664;
  transform: scale(1);
  font-size: 14px;
  left: 197px;
}
.digitalitem.min-1 {
  left: 240px;
}
.digitalitem.min-2 {
  left: 265px;
}
.digitalitem.separate3 {
  color: #8be664;
  transform: scale(1);
  font-size: 14px;
  left: 300px;
}
@media screen and (max-width: 767px) {
  .timetable .number {
    bottom: 0px;
  }
  .digitalitem {
    transform: translate(0,-100%) scale(.35);
  }
  .digitalitem.day-1 {
    left: 10%;
  }
  .digitalitem.day-2 {
    left: 18%;
  }
  .digitalitem.separate1 {
    transform: translate(0,-7px) scale(.5);
    left: 25.5%;
  }
  .digitalitem.hour-1 {
    left: 35%;
  }
  .digitalitem.hour-2 {
    left: 43%;
  }
  .digitalitem.separate2 {
    transform: translate(0,-7px) scale(.5);
    left: 50.5%;
  }
  .digitalitem.min-1 {
    left: 61%;
  }
  .digitalitem.min-2 {
    left: 69%;
  }
  .digitalitem.separate3 {
    transform: translate(0,-7px) scale(.5);
    left: 76%;
  }
}
.digitalbody {
  background-color: #8be664;
  box-shadow: -1px 1px 5px rgba(139, 230, 100, .3);
  position: absolute;
}
.digitalbody:before,
.digitalbody:after {
  content: "";
  width: 0;
  height: 0;
  border-width: 3px;
  border-style: solid;
  position: absolute;
}
.digitalbody.h1,
.digitalbody.h2,
.digitalbody.h3 {
  width: 20px;
  height: 6px;
  left: 8px;
  z-index: 20;
}
.digitalbody.h1:before,
.digitalbody.h2:before,
.digitalbody.h3:before {
  left: -6px;
  border-color: transparent #8be664 transparent transparent;
}
.digitalbody.h1:after,
.digitalbody.h2:after,
.digitalbody.h3:after {
  right: -6px;
  border-color: transparent transparent transparent #8be664;
}
.digitalbody.h1 {
  top: 0;
}
.digitalbody.h2 {
  top: 26px;
}
.digitalbody.h3 {
  top: 52px;
}
.digitalbody.v1,
.digitalbody.v2,
.digitalbody.v3,
.digitalbody.v4 {
  width: 6px;
  height: 20px;
  z-index: 10;
}
.digitalbody.v1:before,
.digitalbody.v2:before,
.digitalbody.v3:before,
.digitalbody.v4:before {
  top: -6px;
  border-color: transparent transparent #8be664 transparent;
}
.digitalbody.v1:after,
.digitalbody.v2:after,
.digitalbody.v3:after,
.digitalbody.v4:after {
  top: 20px;
  border-color: #8be664 transparent transparent transparent;
}
.digitalbody.v1 {
  top: 6px;
  left: 0;
}
.digitalbody.v2 {
  top: 6px;
  left: 30px;
}
.digitalbody.v3 {
  top: 32px;
  left: 0;
}
.digitalbody.v4 {
  top: 32px;
  left: 30px;
}
.num-1 > .h1,
.num-1 > .h2,
.num-1 > .h3,
.num-1 > .v1,
.num-1 > .v3 {
  opacity: 0.1;
}
.num-2 > .v1,
.num-2 > .v4 {
  opacity: 0.1;
}
.num-3 > .v1,
.num-3 > .v3 {
  opacity: 0.1;
}
.num-4 > .h1,
.num-4 > .h3,
.num-4 > .v3 {
  opacity: 0.1;
}
.num-5 > .v2,
.num-5 > .v3 {
  opacity: 0.1;
}

.num-6 > .v2 {
  opacity: 0.1;
}
.num-7 > .h2,
.num-7 > .h3,
.num-7 > .v1,
.num-7 > .v3 {
  opacity: 0.1;
}
.num-9 > .v3 {
  opacity: 0.1;
}
.num-0 > .h2 {
  opacity: 0.1;
}

.prograssbar {
  margin-top: -20px;
  padding-bottom: 20px;
  width: 650px;
}
.prograssbar .wrap {
  position: relative;
  height: 8px;
  width: 100%;
}
.prograssbar .wrap::before {
  position: absolute;
  content: '';
  height: 100%;
  width: 100%;
  border: 1px solid #fff;
  border-radius: 10px;
}
.prograssbar .bar {
  position: relative;
  height: 100%;
  background: rgb(139, 230, 100);
  border-radius: 10px;
  overflow: hidden;
  z-index: 1;
}
.prograssbar .bar:before {
  content: "";
  position: absolute;
  width: 150%;
  height: 100%;
  top: 0;
  left: 0;
  transform: translateX(-150%) skew(-45deg);
  background: linear-gradient(90deg,rgba(255,255,255,0) 45%,rgba(255,225,255,0.5),rgba(255,225,255,0.8) 55%,rgba(255,225,255,0.5) 65%,rgba(255,255,255,0) 75%);
  animation: fixedBtn 3.5s infinite reverse;
  z-index: 1;
  pointer-events: none;
}
@keyframes fixedBtn {
  0% {
    transform: translateX(120%) skew(-45deg)
  }
  to {
    transform: translateX(-120%) skew(-45deg)
  }
}
.prograssbar p {
  text-align: center;
  font-size: 14px;
  letter-spacing: 2px;
  max-width: 512px;
  margin: 10px auto 0;
}
.prograssbar span{
  font-size: 18px;
  padding: 5px;
  letter-spacing: 0px;
}
@media screen and (max-width: 1199.98px) {
  .prograssbar {
    margin-top: 0;
    width: 100%;
  }
  .prograssbar .wrap {
    position: relative;
    height: 5px;
    width: 100%;
  }
  .prograssbar p {
    margin-top: 5px;
    font-size: 12px;
  }
  .prograssbar span{
    font-size: 14px;
  }
}