// Variable
@import "variable";

// Serif Title

h3.progress-title,
h3.page-title {
    letter-spacing: 4.32px;
    margin-bottom: 12px;

    @media (max-width: 1199.98px) {
        letter-spacing: 2.88px;
        margin-bottom: 8px;
        padding-left: 4.32px;
    }
}

h4 {
    font-weight: 400;
    color: $color-yellow;
  
    &::before,
    &::after {
        background-color: $color-yellow;

        @media (max-width: 1199.98px) {  
            background-color: rgba($color-yellow, 0.5);
        }
    }
  
    span {
        &::before,
        &::after {
            border: 1px solid $color-yellow;

            @media (max-width: 1199.98px) {
                border: 1px solid rgba($color-yellow, 0.5);
            }
        }
    }
}

h5 {
    text-align: center;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 2.4px;
    margin: 0;

    @media (max-width: 1199.98px) {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 1.44;
    }
}

.sub-title,
.page-sub-title {
    font-weight: 900;
    line-height: 2.1;
    color: $color-k10;
    padding-top: 42px;

    @media (max-width: 1199.98px) {
        line-height: 2;
        padding-top: 24px;
    }

    span {
        font-weight: inherit;
    }
}

.page-sub-title {
    padding-top: 84px;

    @media (max-width: 1199.98px) {
        padding-top: 42px;
    }
}

// Form
form {
    @media (max-width: 1199.98px) {
        margin: 0;
    }

    .form-container {
        padding: 0;

        // Description
        p {
            text-align: center;
            line-height: 1.6875;
            color: $color-k10;

            @media (max-width: 1199.98px) {
                line-height: 1.714;
            }
        }

        .master-desc {
            margin: 42px 0 48px;

            @media (max-width: 1199.98px) {
                margin: 36px 0;
            }

            p {
                color: $color-yellow;

                & + p {
                    margin-top: 24px;

                    @media (max-width: 1199.98px) {
                        margin-top: 18px;
                    }
                }
            }
        }

        .sub-title-wrapper {
            margin: 48px 0 30px;

            @media (max-width: 1199.98px) {
                margin: 24px 0 21px;
            }

            span {
                text-transform: uppercase;
            }
        }

        // Label and Input
        .form-group {
            margin-bottom: 20px;

            &.input-with-label {
                label {
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: 1.6px;
                    text-align: left;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-bottom: 10px;

                    @media (max-width: 1199.98px) {
                        font-size: 14px;
                        letter-spacing: 1.4px;
                        line-height: 1.42;
                        margin-bottom: 8px;
                    }

                    .error-msg {
                        font-size: 12px;
                        letter-spacing: 1.2px;
                        line-height: 1.5;
                        margin-left: 12px;
                        color: $color-error;

                        @media (max-width: 1199.98px) {
                            font-size: 10px;
                            letter-spacing: 1px;
                            margin-left: 9px;
                        }
                    }
                }
    
                input {
                    width: 100%;
                    border-radius: 6px;
                    border: solid 1px $color-k10;
                    background-color: transparent !important;
                    padding: 12px 17px;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    color: $color-yellow !important;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;

                    @media (max-width: 1199.98px) {
                        padding: 11px 20px;
                        font-size: 14px;
                        letter-spacing: 1.4px;
                        line-height: 1.42;
                    }
    
                    &::placeholder {
                        color: rgba($color-yellow, 0.5);
                    }
                
                    &:focus,
                    &:active {
                        outline: 0;
                        border-color: $color-yellow;
                        box-shadow: none;
                        -webkit-box-shadow: 0 0 0 100px $color-background inset;
                        outline: 0;
                    }
                }
            }

            &.radio__button {
                .color-yellow {
                    color: $color-k10;
                }
            }
        }

        // Button
        .feature-btn {
            padding-top: 28px;

            @media (max-width: 1199.98px) {
                padding-top: 4px;
            }
        }

        .multi-btn button.btn-outline.submit {
            min-width: 210px;
            width: 210px;

            @media (max-width: 1199.98px) {
                min-width: 240px;
                width: 240px;
            }
        }
    }
}

// Override Custom control
.radio__button {
    .custom-control {
        &.custom-checkbox {
            .custom-control-input {
                &:checked ~ .custom-control-label::before {
                    background-image: url('../img/icon/icon-check-dark.svg');
                }
            }

            .custom-control-label {  
                text-align: left;
                line-height: 1.714;

                &::before {
                    top: 5px;
                    border: solid 1px $color-yellow;
                }
            }
        }
    }
}

// Success Page
.submit-page {
    padding-bottom: 48px;

    .page-info {
        margin: 48px 0 210px;
    
        @media (max-width: 1199.98px) {
            margin: 42px 0 160px;
        }
    
        p {
            font-size: 16px;
            letter-spacing: 1.6px;
            line-height: 1.6875;
    
            @media (max-width: 1199.98px) {
                font-size: 14px;
                letter-spacing: 1.4px;
                line-height: 1.714;
            }
    
            & + p {
                margin-top: 24px;
    
                @media (max-width: 1199.98px) {
                    margin-top: 18px;
                }
            }
        }
    }

    .feature-btn {
        text-align: center;
    }
}