// Variable
@import "variable";

.normal-lineHeight {
  &, & p {
    line-height: 1;
  }
}

.highlight-dark {
  color: $color-yellow;
}

.ticket-yellow {
  color: $color-ticket-green;
}

.ticket-blue {
  color: $color-ticket-blue;
}

.ticket-pink {
  color: $color-ticket-red;
}


#Ticket {
  @include baseCounter('padding-top', 124);
  @include baseCounter('padding-bottom', 207);

  .ticket {
    text-align: center;

    p {
      display: inline-block;
      @include baseCounter('padding-top', 75);
      @include baseCounter('padding-bottom', 169);
    }

    .inline-right {
      display: block;
      text-align: right;
    }

    @media (max-width: 480px) {
      p {
        padding-top: 36px;
        padding-bottom: 84px;
      }
    }
  }

  .experience {
    text-align: center;
    width: 811px;
    max-width: 100%;
    @include baseCounter('padding-top', 80);
    @include baseCounter('padding-bottom', 232);
    margin: 0 auto;

    .exp-item {
      position: relative;
    }

    .exp-number {
      font-family: $font-pinyonScript;
      font-size: 72px;
      line-height: 1.25;
      letter-spacing: 7.2px;
      color: $color-lighter-yellow;
    }

    .exp-text {
      @include baseCounter('bottom', -18);
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 100%);
      width: 220px;
    }

    .middle {
      .exp-number {
        @include baseCounter('padding-left', 35);
      }

      .exp-text {
        left: calc(50% + 14px);
      }
    }

    @media (max-width: 1200px) {
      .exp-number {
        font-size: 50px;
      }

      .middle {
        .exp-text {
          left: calc(50% + 4px);
        }
      }
    }

    @media (max-width: 480px) {
      width: 100%;

      .exp-item {
        padding-top: 36px;

        &:first-child {
          padding-top: 0;
        }
      }

      .exp-number {
        font-size: 48px;
        line-height: 1.23;
        letter-spacing: 2.4px;
      }

      .exp-text {
        line-height: 0.93;
        position: inherit;
        left: inherit;
        bottom: inherit;
        transform: none;
        width: 100%;
      }

      .middle {
        .exp-number {
          padding-left: 0;
        }

        .exp-text {
          left: inherit;
        }
      }
    }
  }

  .ticket-area-preinfo {
    @include baseCounter('padding-top', 45);
    color: $color-light-yellow;
  }

  .ticket-area-note {
    line-height: 2;
  }

  .ticket-type {
    display: flex;
    @include baseCounter('padding-top', 45);
    @include baseCounter('padding-bottom', 80);
    width: 1115px;
    max-width: 100%;
    margin: 0 auto;

    @media (min-width: 480px) {
      &:hover {
        .type-item:not(.sold) {
          &:hover {
            .ticket-frame {
              &::before {
                opacity: 0;
              }
            }
          }

          .ticket-frame {
            &::before {
              opacity: 0.3;
            }
          }
        }
      }
    }

    .type-item {
      position: relative;
      text-align: center;
      @include baseCounter('padding-top', 54);
      @include baseCounter('padding-bottom', 80);

      &:first-child {
        @include baseCounter('padding-right', 47);
      }

      &::after {
        position: absolute;
        content: '';
        right: 0;
        top: 0;
        width: 0;
        height: 100%;
        border-right: dashed 2px $color-yellow;
        transform: scaleX(0.5);
      }

      &.type-matinee {
        @include baseCounter('padding-left', 47);
        @include baseCounter('padding-right', 47);
      }

      &:last-child {
        @include baseCounter('padding-left', 47);

        &::after {
          display: none;
        }
      }
    }

    .sold {
      .ticket-frame {
        cursor: not-allowed;
      }
    }

    .ticket-frame {
      position: relative;
      display: block;

      &::before {
        position: absolute;
        content: '';
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        background: $color-dark-brown;
        opacity: 0;
        transition: opacity 0.3s;
      }
    }

    .ticket-state {
      position: absolute;
      @include baseCounter('bottom', -36);
      left: 0;
      line-height: 1.67;
      transform: translateY(100%);
      width: 100%;
      min-width: 220px;
      color: $color-yellow;

      .highlight {
        font-size: 24px;
        font-weight: bold;
        font-family: $font-serif;
        letter-spacing: 2.9px;
      }

      &.timeLimit {
        opacity: 0;
      }
    }

    @media (min-width: 1441px) and (max-width: 1919px) {
      .ticket-state {
        font-size: 16px;
        letter-spacing: 1px;

        .highlight {
          font-size: 18px;
          letter-spacing: 2px;
        }
      }
    }

    @media (max-width: 1440px) {
      .ticket-state {
        letter-spacing: 1.4px;
        
        .highlight {
          font-size: 20px;
        }
      }
    }

    @media (max-width: 1200px) {
      .ticket-state {
        .highlight {
          font-size: 18px;
          letter-spacing: 2.9px;
        }
      }
    }

    @media (max-width: 480px) {
      display: block;
      padding-bottom: 60px;

      .ticket-state {
        padding-top: 20px;
        position: inherit;
        transform: none;
      }

      .type-item {
        margin-right: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 19.5px;
        margin-bottom: 19.5px;

        &::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 0;
          border-style: dashed;
          border-color: $color-yellow;
          border-width: 0 0 2px;
          transform: scale(1, 0.5);
          top: inherit;
          bottom: 0;
        }

        &:first-child {
          padding-right: 0;
        }

        &.type-matinee {
          padding-left: 0;
          padding-right: 0;
        }

        &:last-child {
          padding-left: 0;
          margin-bottom: 0;
          padding-bottom: 0;

          &::after {
            display: none;
          }
        }
      }
    }
  }

  .time-slots {
    @include baseCounter('padding-top', 145);

    @media (max-width: 480px) {
      padding-top: 84px;
    }
  }

  .time-slots-preinfo {
    line-height: 2;
    @include baseCounter('padding-top', 45);
    @include baseCounter('padding-bottom', 45);
  }

  .time-session {
    @include baseCounter('padding-bottom', 145);
    width: 1115px;
    max-width: 100%;
    margin: 0 auto;
    text-align: center;

    .time-session-inner {
      display: inline-block;
    }

    p {
      line-height: 2;
      text-align: left;
      text-indent: -60px;
      padding-left: 60px;

      &.ticket-color-diff-note {
        text-indent: initial;
        padding-left: 0;
      }
    }

    .highlight {
      font-size: 20px;
      font-weight: bold;
      letter-spacing: 2.4px;
      font-family: $font-serif;
    }

    hr {
      border-color: $color-dark-yellow;
    }

    @media (max-width: 1199.98px) {
      width: 400px;
      margin: 0 auto;
    }

    @media (max-width: 480px) {
      padding-bottom: 0;
      width: 100%;

      p {
        text-indent: -47px;
        padding-left: 47px;
      }

      .feature-btn {
        padding-top: 70px;
        padding-bottom: 104px;
      }
    }
  }

  .time-counter {
    @include baseCounter('padding-top', 33);
    color: $color-yellow;

    & ~ .sale-progress {
      @include baseCounter('padding-top', 10);
    }

    .time-rest {
      font-size: 24px;
      line-height: 2.5;
      letter-spacing: 2.4px;

      span {
        font-size: 36px;
        letter-spacing: 3.6px;
        padding: 0 10px;
        font-family: $font-pinyonScript;
        color: $color-light-yellow;
      }
    }

    @media (max-width: 1200px) {
      .time-rest {
        font-size: 20px;
        line-height: 2;

        span {
          font-size: 30px;
          letter-spacing: 3px;
        }
      }
    }

    @media (max-width: 480px) {
      .time-rest {
        padding-top: 5px;
        padding-bottom: 18px;
        font-size: 18px;
        letter-spacing: 1.8px;

        span {
          font-size: 24px;
          line-height: 1;
          letter-spacing: 2.4px;
        }
      }
    }

    @media (max-width: 320px) {
      .time-rest span {
        font-size: 22px;
        letter-spacing: 2px;
      }
    }
  }

  .sale-progress {
    @include baseCounter('padding-top', 100);
    width: 812px;
    max-width: 100%;
    margin: 0 auto;

    .progress {
      height: 11.5px;
      border-radius: 12px;
      background-color: $color-dark-yellow;

      .progress-bar {
        background-color: $color-yellow;
        border-radius: 12px;
      }
    }

    .sale-progress-info {
      @include baseCounter('padding-top', 23.5);
      @include baseCounter('padding-bottom', 178);

      .highlight {
        font-size: 24px;
        font-weight: bold;
        letter-spacing: 2.4px;
        font-family: $font-serif;
      }

      .info-text {
        @include baseCounter('padding-top', 25);
        text-align: left;
        line-height: 2;
      }
    }

    @media (max-width: 1200px) {
      .sale-progress-info {
        .highlight {
          font-size: 20px;
          letter-spacing: 1.8px;
        }
      }
    }

    @media (max-width: 480px) {
      padding: 52px 36px 0;
      text-align: center;

      .sale-progress-info {
        padding-bottom: 80px;

        .highlight {
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 1.8px;
        }

        p {
          font-size: 12px;
          letter-spacing: 1.2px;
        }

        .info-text {
          display: none;
        }
      }
    }

    @media (max-width: 320px) {
      padding: 0;
    }
  }

  .schedule {
    @include baseCounter('padding-top', 75);
    width: 633px;
    max-width: 100%;
    margin: 0 auto;

    table {
      text-align: left;
      line-height: 3.33;
      letter-spacing: 1.8px;

      tr {
        td:first-child {
          @include baseCounter('padding-right', 82);
          color: $color-yellow;
          vertical-align: top;
        }
      }
    }

    .schedule-sub-title {
      color: $color-yellow;
      @include baseCounter('padding-top', 66);
      @include baseCounter('padding-bottom', 86);
      text-align: center;
    }

    @media (max-width: 1440px) {
      table {
        line-height: 2.67;
        letter-spacing: 1.6px;
      }
    }

    @media (max-width: 480px) {
      table {
        width: 221px;
        margin: 0 auto;
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 1.4px;

        td {
          display: block;
        }

        tr {
          margin-bottom: 12px;
          display: block;

          td:first-child {
            padding-right: 0;
          }
        }
      }
    }
  }

  @media (max-width: 1440px) {
    .ticket-type-area {
      max-width: 900px;
    }
  }

  @media (max-width: 1199.98px) {
    .ticket-type-area {
      max-width: 797px;
    }

    .time-session {
      width: 400px;
      margin: 0 auto;
    }
  }
}

#Rules {
  @include baseCounter('padding-top', 124);
  @include baseCounter('padding-bottom', 318);

  .feature-btn {
    text-align: center;
    @include baseCounter('padding-bottom', 18);
  }

  .rules-action-info {
    @include baseCounter('padding-top', 75);
    @include baseCounter('padding-bottom', 64);
  }

  .rules-page-contains {
    font-size: 18px;
    line-height: 2;
    letter-spacing: 1.8px;
    color: $color-yellow;
  }

  @media (max-width: 1440px) {
    .rules-page-contains {
      font-size: 16px;
      letter-spacing: 1.4px;
    }
  }

  @media (max-width: 480px) {
    .rules-action-info {
      padding-top: 35px;
      padding-bottom: 50px;
    }

    .feature-btn {
      .btn-outline {
        width: 240px;
      }
    }

    .rules-page-contains {
      font-size: 14px;
      line-height: 2.14;
    }
  }

  @media (max-width: 480px) {
    min-height: initial;
  }
}

#Contact {
  @include baseCounter('padding-top', 124);
  @include baseCounter('padding-bottom', 146);

  .contact-pre-info {
    @include baseCounter('padding-top', 75);
    @include baseCounter('padding-bottom', 84);

    a {
      color: $color-yellow;
      text-decoration: underline;

      &:hover {
        color: $color-lighter-yellow;
      }
    }
  }

  .contact-sec {
    position: relative;
    width: 537px;
    max-width: 100%;
    margin: 0 auto;

    &:not(:first-child) {
      @include baseCounter('padding-top', 36);
      @include baseCounter('margin-top', 36);

      &::before {
        position: absolute;
        content: '';
        width: 451px;
        max-width: 100%;
        height: 1px;
        background: $color-dark-yellow;
        top: 0;
        right: 0;
      }
    }

    .contact-sec-title {
      font-weight: bold;
      font-family: $font-serif;
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 1.9px;
      margin-right: 10px;
      text-align: right;
      width: 76px;
    }

    p {
      font-size: 16px;
      line-height: 1.88;
      letter-spacing: 1.6px;
      text-align: left;
    }
  }

  @media (max-width: 1200px) {
    .contact-sec {
      &:not(:first-child) {
        &::before {
          width: 100%;
        }
      }

      .contact-sec-title {
        text-align: left;
      }
    }
  }

  @media (max-width: 480px) {
    padding-top: 25px;
    padding-bottom: 100px;

    .contact-pre-info {
      padding-top: 35px;
      padding-bottom: 60px;
    }

    .contact-sec {
      &::before {
        display: none;
      }

      &:first-child {
        padding-bottom: 30px;
        margin-bottom: 36px;
        border-bottom: solid 1px $color-dark-yellow;
      }

      &.middle {
        margin-top: 0;
        padding-top: 0;
      }

      &:last-child {
        padding-top: 30px;
        margin-top: 36px;
        border-top: solid 1px $color-dark-yellow;
      }

      .contact-sec-title {
        font-size: 14px;
        line-height: 2.14;
        letter-spacing: 1.7px;
      }

      p {
        font-size: 14px;
        line-height: 2.29;
        letter-spacing: 1.4px;
      }
    }
  }

  @media (max-width: 320px) {
    .contact-sec {
      &:not(:last-child) {
        p {
          text-indent: -47px;
          padding-left: 47px;

          &.contact-footer {
            text-indent: initial;
            padding-left: 0;
          }
        }
      }
    }
  }
}
