@charset "UTF-8";
.normal-lineHeight, .normal-lineHeight p {
  line-height: 1; }

.highlight-dark {
  color: #9c9359; }

.ticket-yellow {
  color: #efd97b; }

.ticket-blue {
  color: #89b7f8; }

.ticket-pink {
  color: #ff7ea4; }

@media (min-width: 1200px) {
  #Ticket {
    padding-top: calc((608px + 30px) * 0.11091); } }
@media (min-width: 1440px) {
  #Ticket {
    padding-top: calc((768px + 30px) * 0.11091); } }
@media (min-width: 1920px) {
  #Ticket {
    padding-top: calc((1088px + 30px) * 0.11091); } }
@media (max-width: 1199.98px) {
  #Ticket {
    padding-top: calc((520px + 30px) * 0.11091); } }
@media (max-width: 480px) {
  #Ticket {
    padding-top: calc(100% * 0.11091); } }
@media (min-width: 1200px) {
  #Ticket {
    padding-bottom: calc((608px + 30px) * 0.18515); } }
@media (min-width: 1440px) {
  #Ticket {
    padding-bottom: calc((768px + 30px) * 0.18515); } }
@media (min-width: 1920px) {
  #Ticket {
    padding-bottom: calc((1088px + 30px) * 0.18515); } }
@media (max-width: 1199.98px) {
  #Ticket {
    padding-bottom: calc((520px + 30px) * 0.18515); } }
@media (max-width: 480px) {
  #Ticket {
    padding-bottom: calc(100% * 0.18515); } }
#Ticket .ticket {
  text-align: center; }
  #Ticket .ticket p {
    display: inline-block; }
    @media (min-width: 1200px) {
      #Ticket .ticket p {
        padding-top: calc((608px + 30px) * 0.06708); } }
    @media (min-width: 1440px) {
      #Ticket .ticket p {
        padding-top: calc((768px + 30px) * 0.06708); } }
    @media (min-width: 1920px) {
      #Ticket .ticket p {
        padding-top: calc((1088px + 30px) * 0.06708); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket p {
        padding-top: calc((520px + 30px) * 0.06708); } }
    @media (max-width: 480px) {
      #Ticket .ticket p {
        padding-top: calc(100% * 0.06708); } }
    @media (min-width: 1200px) {
      #Ticket .ticket p {
        padding-bottom: calc((608px + 30px) * 0.15116); } }
    @media (min-width: 1440px) {
      #Ticket .ticket p {
        padding-bottom: calc((768px + 30px) * 0.15116); } }
    @media (min-width: 1920px) {
      #Ticket .ticket p {
        padding-bottom: calc((1088px + 30px) * 0.15116); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket p {
        padding-bottom: calc((520px + 30px) * 0.15116); } }
    @media (max-width: 480px) {
      #Ticket .ticket p {
        padding-bottom: calc(100% * 0.15116); } }
  #Ticket .ticket .inline-right {
    display: block;
    text-align: right; }
  @media (max-width: 480px) {
    #Ticket .ticket p {
      padding-top: 36px;
      padding-bottom: 84px; } }
#Ticket .experience {
  text-align: center;
  width: 811px;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #Ticket .experience {
      padding-top: calc((608px + 30px) * 0.07156); } }
  @media (min-width: 1440px) {
    #Ticket .experience {
      padding-top: calc((768px + 30px) * 0.07156); } }
  @media (min-width: 1920px) {
    #Ticket .experience {
      padding-top: calc((1088px + 30px) * 0.07156); } }
  @media (max-width: 1199.98px) {
    #Ticket .experience {
      padding-top: calc((520px + 30px) * 0.07156); } }
  @media (max-width: 480px) {
    #Ticket .experience {
      padding-top: calc(100% * 0.07156); } }
  @media (min-width: 1200px) {
    #Ticket .experience {
      padding-bottom: calc((608px + 30px) * 0.20751); } }
  @media (min-width: 1440px) {
    #Ticket .experience {
      padding-bottom: calc((768px + 30px) * 0.20751); } }
  @media (min-width: 1920px) {
    #Ticket .experience {
      padding-bottom: calc((1088px + 30px) * 0.20751); } }
  @media (max-width: 1199.98px) {
    #Ticket .experience {
      padding-bottom: calc((520px + 30px) * 0.20751); } }
  @media (max-width: 480px) {
    #Ticket .experience {
      padding-bottom: calc(100% * 0.20751); } }
  #Ticket .experience .exp-item {
    position: relative; }
  #Ticket .experience .exp-number {
    font-family: "Pinyon Script", cursive, sans-serif;
    font-size: 72px;
    line-height: 1.25;
    letter-spacing: 7.2px;
    color: #eee9c5; }
  #Ticket .experience .exp-text {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 100%);
    width: 220px; }
    @media (min-width: 1200px) {
      #Ticket .experience .exp-text {
        bottom: calc((608px + 30px) * -0.0161); } }
    @media (min-width: 1440px) {
      #Ticket .experience .exp-text {
        bottom: calc((768px + 30px) * -0.0161); } }
    @media (min-width: 1920px) {
      #Ticket .experience .exp-text {
        bottom: calc((1088px + 30px) * -0.0161); } }
    @media (max-width: 1199.98px) {
      #Ticket .experience .exp-text {
        bottom: calc((520px + 30px) * -0.0161); } }
    @media (max-width: 480px) {
      #Ticket .experience .exp-text {
        bottom: calc(100% * -0.0161); } }
  @media (min-width: 1200px) {
    #Ticket .experience .middle .exp-number {
      padding-left: calc((608px + 30px) * 0.03131); } }
  @media (min-width: 1440px) {
    #Ticket .experience .middle .exp-number {
      padding-left: calc((768px + 30px) * 0.03131); } }
  @media (min-width: 1920px) {
    #Ticket .experience .middle .exp-number {
      padding-left: calc((1088px + 30px) * 0.03131); } }
  @media (max-width: 1199.98px) {
    #Ticket .experience .middle .exp-number {
      padding-left: calc((520px + 30px) * 0.03131); } }
  @media (max-width: 480px) {
    #Ticket .experience .middle .exp-number {
      padding-left: calc(100% * 0.03131); } }
  #Ticket .experience .middle .exp-text {
    left: calc(50% + 14px); }
  @media (max-width: 1200px) {
    #Ticket .experience .exp-number {
      font-size: 50px; }
    #Ticket .experience .middle .exp-text {
      left: calc(50% + 4px); } }
  @media (max-width: 480px) {
    #Ticket .experience {
      width: 100%; }
      #Ticket .experience .exp-item {
        padding-top: 36px; }
        #Ticket .experience .exp-item:first-child {
          padding-top: 0; }
      #Ticket .experience .exp-number {
        font-size: 48px;
        line-height: 1.23;
        letter-spacing: 2.4px; }
      #Ticket .experience .exp-text {
        line-height: 0.93;
        position: inherit;
        left: inherit;
        bottom: inherit;
        transform: none;
        width: 100%; }
      #Ticket .experience .middle .exp-number {
        padding-left: 0; }
      #Ticket .experience .middle .exp-text {
        left: inherit; } }
@media (min-width: 1200px) {
  #Ticket .ticket-area-preinfo {
    padding-top: calc((608px + 30px) * 0.04025); } }
@media (min-width: 1440px) {
  #Ticket .ticket-area-preinfo {
    padding-top: calc((768px + 30px) * 0.04025); } }
@media (min-width: 1920px) {
  #Ticket .ticket-area-preinfo {
    padding-top: calc((1088px + 30px) * 0.04025); } }
@media (max-width: 1199.98px) {
  #Ticket .ticket-area-preinfo {
    padding-top: calc((520px + 30px) * 0.04025); } }
@media (max-width: 480px) {
  #Ticket .ticket-area-preinfo {
    padding-top: calc(100% * 0.04025); } }
#Ticket .ticket-area-note {
  line-height: 2; }
#Ticket .ticket-type {
  display: flex;
  width: 1115px;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #Ticket .ticket-type {
      padding-top: calc((608px + 30px) * 0.04025); } }
  @media (min-width: 1440px) {
    #Ticket .ticket-type {
      padding-top: calc((768px + 30px) * 0.04025); } }
  @media (min-width: 1920px) {
    #Ticket .ticket-type {
      padding-top: calc((1088px + 30px) * 0.04025); } }
  @media (max-width: 1199.98px) {
    #Ticket .ticket-type {
      padding-top: calc((520px + 30px) * 0.04025); } }
  @media (max-width: 480px) {
    #Ticket .ticket-type {
      padding-top: calc(100% * 0.04025); } }
  @media (min-width: 1200px) {
    #Ticket .ticket-type {
      padding-bottom: calc((608px + 30px) * 0.07156); } }
  @media (min-width: 1440px) {
    #Ticket .ticket-type {
      padding-bottom: calc((768px + 30px) * 0.07156); } }
  @media (min-width: 1920px) {
    #Ticket .ticket-type {
      padding-bottom: calc((1088px + 30px) * 0.07156); } }
  @media (max-width: 1199.98px) {
    #Ticket .ticket-type {
      padding-bottom: calc((520px + 30px) * 0.07156); } }
  @media (max-width: 480px) {
    #Ticket .ticket-type {
      padding-bottom: calc(100% * 0.07156); } }
  @media (min-width: 480px) {
    #Ticket .ticket-type:hover .type-item:hover .ticket-frame::before {
      opacity: 0; }
    #Ticket .ticket-type:hover .ticket-frame::before {
      opacity: 0.3; } }
  #Ticket .ticket-type .type-item {
    position: relative;
    text-align: center; }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item {
        padding-top: calc((608px + 30px) * 0.0483); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item {
        padding-top: calc((768px + 30px) * 0.0483); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item {
        padding-top: calc((1088px + 30px) * 0.0483); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item {
        padding-top: calc((520px + 30px) * 0.0483); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item {
        padding-top: calc(100% * 0.0483); } }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item {
        padding-bottom: calc((608px + 30px) * 0.07156); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item {
        padding-bottom: calc((768px + 30px) * 0.07156); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item {
        padding-bottom: calc((1088px + 30px) * 0.07156); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item {
        padding-bottom: calc((520px + 30px) * 0.07156); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item {
        padding-bottom: calc(100% * 0.07156); } }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item:first-child {
        padding-right: calc((608px + 30px) * 0.04204); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item:first-child {
        padding-right: calc((768px + 30px) * 0.04204); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item:first-child {
        padding-right: calc((1088px + 30px) * 0.04204); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item:first-child {
        padding-right: calc((520px + 30px) * 0.04204); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item:first-child {
        padding-right: calc(100% * 0.04204); } }
    #Ticket .ticket-type .type-item::after {
      position: absolute;
      content: '';
      right: 0;
      top: 0;
      width: 0;
      height: 100%;
      border-right: dashed 2px #9c9359;
      transform: scaleX(0.5); }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-left: calc((608px + 30px) * 0.04204); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-left: calc((768px + 30px) * 0.04204); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-left: calc((1088px + 30px) * 0.04204); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-left: calc((520px + 30px) * 0.04204); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-left: calc(100% * 0.04204); } }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-right: calc((608px + 30px) * 0.04204); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-right: calc((768px + 30px) * 0.04204); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-right: calc((1088px + 30px) * 0.04204); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-right: calc((520px + 30px) * 0.04204); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item.type-matinee {
        padding-right: calc(100% * 0.04204); } }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .type-item:last-child {
        padding-left: calc((608px + 30px) * 0.04204); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .type-item:last-child {
        padding-left: calc((768px + 30px) * 0.04204); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .type-item:last-child {
        padding-left: calc((1088px + 30px) * 0.04204); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .type-item:last-child {
        padding-left: calc((520px + 30px) * 0.04204); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .type-item:last-child {
        padding-left: calc(100% * 0.04204); } }
    #Ticket .ticket-type .type-item:last-child::after {
      display: none; }
  #Ticket .ticket-type .ticket-frame {
    position: relative;
    display: block; }
    #Ticket .ticket-type .ticket-frame::before {
      position: absolute;
      content: '';
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: #1e1c19;
      opacity: 0;
      transition: opacity 0.3s; }
  #Ticket .ticket-type .ticket-state {
    position: absolute;
    left: 0;
    line-height: 1.67;
    transform: translateY(100%);
    width: 100%;
    min-width: 220px;
    color: #9c9359; }
    @media (min-width: 1200px) {
      #Ticket .ticket-type .ticket-state {
        bottom: calc((608px + 30px) * -0.0322); } }
    @media (min-width: 1440px) {
      #Ticket .ticket-type .ticket-state {
        bottom: calc((768px + 30px) * -0.0322); } }
    @media (min-width: 1920px) {
      #Ticket .ticket-type .ticket-state {
        bottom: calc((1088px + 30px) * -0.0322); } }
    @media (max-width: 1199.98px) {
      #Ticket .ticket-type .ticket-state {
        bottom: calc((520px + 30px) * -0.0322); } }
    @media (max-width: 480px) {
      #Ticket .ticket-type .ticket-state {
        bottom: calc(100% * -0.0322); } }
    #Ticket .ticket-type .ticket-state .highlight {
      font-size: 24px;
      font-weight: bold;
      font-family: "Kozuka Mincho Pro", "KozMinPro", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
      letter-spacing: 2.9px; }
    #Ticket .ticket-type .ticket-state.timeLimit {
      opacity: 0; }
  @media (min-width: 1441px) and (max-width: 1919px) {
    #Ticket .ticket-type .ticket-state {
      font-size: 16px;
      letter-spacing: 1px; }
      #Ticket .ticket-type .ticket-state .highlight {
        font-size: 18px;
        letter-spacing: 2px; } }
  @media (max-width: 1440px) {
    #Ticket .ticket-type .ticket-state {
      letter-spacing: 1.4px; }
      #Ticket .ticket-type .ticket-state .highlight {
        font-size: 20px; } }
  @media (max-width: 1200px) {
    #Ticket .ticket-type .ticket-state .highlight {
      font-size: 18px;
      letter-spacing: 2.9px; } }
  @media (max-width: 480px) {
    #Ticket .ticket-type {
      display: block;
      padding-bottom: 60px; }
      #Ticket .ticket-type .ticket-state {
        padding-top: 20px;
        position: inherit;
        transform: none; }
      #Ticket .ticket-type .type-item {
        margin-right: 0;
        padding-right: 0;
        padding-top: 0;
        padding-bottom: 19.5px;
        margin-bottom: 19.5px; }
        #Ticket .ticket-type .type-item::after {
          position: absolute;
          content: '';
          width: 100%;
          height: 0;
          border-style: dashed;
          border-color: #9c9359;
          border-width: 0 0 2px;
          transform: scale(1, 0.5);
          top: inherit;
          bottom: 0; }
        #Ticket .ticket-type .type-item:first-child {
          padding-right: 0; }
        #Ticket .ticket-type .type-item.type-matinee {
          padding-left: 0;
          padding-right: 0; }
        #Ticket .ticket-type .type-item:last-child {
          padding-left: 0;
          margin-bottom: 0;
          padding-bottom: 0; }
          #Ticket .ticket-type .type-item:last-child::after {
            display: none; } }
@media (min-width: 1200px) {
  #Ticket .time-slots {
    padding-top: calc((608px + 30px) * 0.1297); } }
@media (min-width: 1440px) {
  #Ticket .time-slots {
    padding-top: calc((768px + 30px) * 0.1297); } }
@media (min-width: 1920px) {
  #Ticket .time-slots {
    padding-top: calc((1088px + 30px) * 0.1297); } }
@media (max-width: 1199.98px) {
  #Ticket .time-slots {
    padding-top: calc((520px + 30px) * 0.1297); } }
@media (max-width: 480px) {
  #Ticket .time-slots {
    padding-top: calc(100% * 0.1297); } }
@media (max-width: 480px) {
  #Ticket .time-slots {
    padding-top: 84px; } }
#Ticket .time-slots-preinfo {
  line-height: 2; }
  @media (min-width: 1200px) {
    #Ticket .time-slots-preinfo {
      padding-top: calc((608px + 30px) * 0.04025); } }
  @media (min-width: 1440px) {
    #Ticket .time-slots-preinfo {
      padding-top: calc((768px + 30px) * 0.04025); } }
  @media (min-width: 1920px) {
    #Ticket .time-slots-preinfo {
      padding-top: calc((1088px + 30px) * 0.04025); } }
  @media (max-width: 1199.98px) {
    #Ticket .time-slots-preinfo {
      padding-top: calc((520px + 30px) * 0.04025); } }
  @media (max-width: 480px) {
    #Ticket .time-slots-preinfo {
      padding-top: calc(100% * 0.04025); } }
  @media (min-width: 1200px) {
    #Ticket .time-slots-preinfo {
      padding-bottom: calc((608px + 30px) * 0.04025); } }
  @media (min-width: 1440px) {
    #Ticket .time-slots-preinfo {
      padding-bottom: calc((768px + 30px) * 0.04025); } }
  @media (min-width: 1920px) {
    #Ticket .time-slots-preinfo {
      padding-bottom: calc((1088px + 30px) * 0.04025); } }
  @media (max-width: 1199.98px) {
    #Ticket .time-slots-preinfo {
      padding-bottom: calc((520px + 30px) * 0.04025); } }
  @media (max-width: 480px) {
    #Ticket .time-slots-preinfo {
      padding-bottom: calc(100% * 0.04025); } }
#Ticket .time-session {
  width: 1115px;
  max-width: 100%;
  margin: 0 auto;
  text-align: center; }
  @media (min-width: 1200px) {
    #Ticket .time-session {
      padding-bottom: calc((608px + 30px) * 0.1297); } }
  @media (min-width: 1440px) {
    #Ticket .time-session {
      padding-bottom: calc((768px + 30px) * 0.1297); } }
  @media (min-width: 1920px) {
    #Ticket .time-session {
      padding-bottom: calc((1088px + 30px) * 0.1297); } }
  @media (max-width: 1199.98px) {
    #Ticket .time-session {
      padding-bottom: calc((520px + 30px) * 0.1297); } }
  @media (max-width: 480px) {
    #Ticket .time-session {
      padding-bottom: calc(100% * 0.1297); } }
  #Ticket .time-session .time-session-inner {
    display: inline-block; }
  #Ticket .time-session p {
    line-height: 2;
    text-align: left;
    text-indent: -60px;
    padding-left: 60px; }
    #Ticket .time-session p.ticket-color-diff-note {
      text-indent: initial;
      padding-left: 0; }
  #Ticket .time-session .highlight {
    font-size: 20px;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-family: "Kozuka Mincho Pro", "KozMinPro", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif; }
  #Ticket .time-session hr {
    border-color: #595330; }
  @media (max-width: 1199.98px) {
    #Ticket .time-session {
      width: 400px;
      margin: 0 auto; } }
  @media (max-width: 480px) {
    #Ticket .time-session {
      padding-bottom: 0;
      width: 100%; }
      #Ticket .time-session p {
        text-indent: -47px;
        padding-left: 47px; }
      #Ticket .time-session .feature-btn {
        padding-top: 70px;
        padding-bottom: 104px; } }
#Ticket .time-counter {
  color: #9c9359; }
  @media (min-width: 1200px) {
    #Ticket .time-counter {
      padding-top: calc((608px + 30px) * 0.02952); } }
  @media (min-width: 1440px) {
    #Ticket .time-counter {
      padding-top: calc((768px + 30px) * 0.02952); } }
  @media (min-width: 1920px) {
    #Ticket .time-counter {
      padding-top: calc((1088px + 30px) * 0.02952); } }
  @media (max-width: 1199.98px) {
    #Ticket .time-counter {
      padding-top: calc((520px + 30px) * 0.02952); } }
  @media (max-width: 480px) {
    #Ticket .time-counter {
      padding-top: calc(100% * 0.02952); } }
  @media (min-width: 1200px) {
    #Ticket .time-counter ~ .sale-progress {
      padding-top: calc((608px + 30px) * 0.00894); } }
  @media (min-width: 1440px) {
    #Ticket .time-counter ~ .sale-progress {
      padding-top: calc((768px + 30px) * 0.00894); } }
  @media (min-width: 1920px) {
    #Ticket .time-counter ~ .sale-progress {
      padding-top: calc((1088px + 30px) * 0.00894); } }
  @media (max-width: 1199.98px) {
    #Ticket .time-counter ~ .sale-progress {
      padding-top: calc((520px + 30px) * 0.00894); } }
  @media (max-width: 480px) {
    #Ticket .time-counter ~ .sale-progress {
      padding-top: calc(100% * 0.00894); } }
  #Ticket .time-counter .time-rest {
    font-size: 24px;
    line-height: 2.5;
    letter-spacing: 2.4px; }
    #Ticket .time-counter .time-rest span {
      font-size: 36px;
      letter-spacing: 3.6px;
      padding: 0 10px;
      font-family: "Pinyon Script", cursive, sans-serif;
      color: #ccc38d; }
  @media (max-width: 1200px) {
    #Ticket .time-counter .time-rest {
      font-size: 20px;
      line-height: 2; }
      #Ticket .time-counter .time-rest span {
        font-size: 30px;
        letter-spacing: 3px; } }
  @media (max-width: 480px) {
    #Ticket .time-counter .time-rest {
      padding-top: 5px;
      padding-bottom: 18px;
      font-size: 18px;
      letter-spacing: 1.8px; }
      #Ticket .time-counter .time-rest span {
        font-size: 24px;
        line-height: 1;
        letter-spacing: 2.4px; } }
  @media (max-width: 320px) {
    #Ticket .time-counter .time-rest span {
      font-size: 22px;
      letter-spacing: 2px; } }
#Ticket .sale-progress {
  width: 812px;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #Ticket .sale-progress {
      padding-top: calc((608px + 30px) * 0.08945); } }
  @media (min-width: 1440px) {
    #Ticket .sale-progress {
      padding-top: calc((768px + 30px) * 0.08945); } }
  @media (min-width: 1920px) {
    #Ticket .sale-progress {
      padding-top: calc((1088px + 30px) * 0.08945); } }
  @media (max-width: 1199.98px) {
    #Ticket .sale-progress {
      padding-top: calc((520px + 30px) * 0.08945); } }
  @media (max-width: 480px) {
    #Ticket .sale-progress {
      padding-top: calc(100% * 0.08945); } }
  #Ticket .sale-progress .progress {
    height: 11.5px;
    border-radius: 12px;
    background-color: #595330; }
    #Ticket .sale-progress .progress .progress-bar {
      background-color: #9c9359;
      border-radius: 12px; }
  @media (min-width: 1200px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-top: calc((608px + 30px) * 0.02102); } }
  @media (min-width: 1440px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-top: calc((768px + 30px) * 0.02102); } }
  @media (min-width: 1920px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-top: calc((1088px + 30px) * 0.02102); } }
  @media (max-width: 1199.98px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-top: calc((520px + 30px) * 0.02102); } }
  @media (max-width: 480px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-top: calc(100% * 0.02102); } }
  @media (min-width: 1200px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-bottom: calc((608px + 30px) * 0.15921); } }
  @media (min-width: 1440px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-bottom: calc((768px + 30px) * 0.15921); } }
  @media (min-width: 1920px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-bottom: calc((1088px + 30px) * 0.15921); } }
  @media (max-width: 1199.98px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-bottom: calc((520px + 30px) * 0.15921); } }
  @media (max-width: 480px) {
    #Ticket .sale-progress .sale-progress-info {
      padding-bottom: calc(100% * 0.15921); } }
  #Ticket .sale-progress .sale-progress-info .highlight {
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2.4px;
    font-family: "Kozuka Mincho Pro", "KozMinPro", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif; }
  #Ticket .sale-progress .sale-progress-info .info-text {
    text-align: left;
    line-height: 2; }
    @media (min-width: 1200px) {
      #Ticket .sale-progress .sale-progress-info .info-text {
        padding-top: calc((608px + 30px) * 0.02236); } }
    @media (min-width: 1440px) {
      #Ticket .sale-progress .sale-progress-info .info-text {
        padding-top: calc((768px + 30px) * 0.02236); } }
    @media (min-width: 1920px) {
      #Ticket .sale-progress .sale-progress-info .info-text {
        padding-top: calc((1088px + 30px) * 0.02236); } }
    @media (max-width: 1199.98px) {
      #Ticket .sale-progress .sale-progress-info .info-text {
        padding-top: calc((520px + 30px) * 0.02236); } }
    @media (max-width: 480px) {
      #Ticket .sale-progress .sale-progress-info .info-text {
        padding-top: calc(100% * 0.02236); } }
  @media (max-width: 1200px) {
    #Ticket .sale-progress .sale-progress-info .highlight {
      font-size: 20px;
      letter-spacing: 1.8px; } }
  @media (max-width: 480px) {
    #Ticket .sale-progress {
      padding: 52px 36px 0;
      text-align: center; }
      #Ticket .sale-progress .sale-progress-info {
        padding-bottom: 80px; }
        #Ticket .sale-progress .sale-progress-info .highlight {
          font-size: 18px;
          line-height: 1.5;
          letter-spacing: 1.8px; }
        #Ticket .sale-progress .sale-progress-info p {
          font-size: 12px;
          letter-spacing: 1.2px; }
        #Ticket .sale-progress .sale-progress-info .info-text {
          display: none; } }
  @media (max-width: 320px) {
    #Ticket .sale-progress {
      padding: 0; } }
#Ticket .schedule {
  width: 633px;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #Ticket .schedule {
      padding-top: calc((608px + 30px) * 0.06708); } }
  @media (min-width: 1440px) {
    #Ticket .schedule {
      padding-top: calc((768px + 30px) * 0.06708); } }
  @media (min-width: 1920px) {
    #Ticket .schedule {
      padding-top: calc((1088px + 30px) * 0.06708); } }
  @media (max-width: 1199.98px) {
    #Ticket .schedule {
      padding-top: calc((520px + 30px) * 0.06708); } }
  @media (max-width: 480px) {
    #Ticket .schedule {
      padding-top: calc(100% * 0.06708); } }
  #Ticket .schedule table {
    text-align: left;
    line-height: 3.33;
    letter-spacing: 1.8px; }
    #Ticket .schedule table tr td:first-child {
      color: #9c9359;
      vertical-align: top; }
      @media (min-width: 1200px) {
        #Ticket .schedule table tr td:first-child {
          padding-right: calc((608px + 30px) * 0.07335); } }
      @media (min-width: 1440px) {
        #Ticket .schedule table tr td:first-child {
          padding-right: calc((768px + 30px) * 0.07335); } }
      @media (min-width: 1920px) {
        #Ticket .schedule table tr td:first-child {
          padding-right: calc((1088px + 30px) * 0.07335); } }
      @media (max-width: 1199.98px) {
        #Ticket .schedule table tr td:first-child {
          padding-right: calc((520px + 30px) * 0.07335); } }
      @media (max-width: 480px) {
        #Ticket .schedule table tr td:first-child {
          padding-right: calc(100% * 0.07335); } }
  #Ticket .schedule .schedule-sub-title {
    color: #9c9359;
    text-align: center; }
    @media (min-width: 1200px) {
      #Ticket .schedule .schedule-sub-title {
        padding-top: calc((608px + 30px) * 0.05903); } }
    @media (min-width: 1440px) {
      #Ticket .schedule .schedule-sub-title {
        padding-top: calc((768px + 30px) * 0.05903); } }
    @media (min-width: 1920px) {
      #Ticket .schedule .schedule-sub-title {
        padding-top: calc((1088px + 30px) * 0.05903); } }
    @media (max-width: 1199.98px) {
      #Ticket .schedule .schedule-sub-title {
        padding-top: calc((520px + 30px) * 0.05903); } }
    @media (max-width: 480px) {
      #Ticket .schedule .schedule-sub-title {
        padding-top: calc(100% * 0.05903); } }
    @media (min-width: 1200px) {
      #Ticket .schedule .schedule-sub-title {
        padding-bottom: calc((608px + 30px) * 0.07692); } }
    @media (min-width: 1440px) {
      #Ticket .schedule .schedule-sub-title {
        padding-bottom: calc((768px + 30px) * 0.07692); } }
    @media (min-width: 1920px) {
      #Ticket .schedule .schedule-sub-title {
        padding-bottom: calc((1088px + 30px) * 0.07692); } }
    @media (max-width: 1199.98px) {
      #Ticket .schedule .schedule-sub-title {
        padding-bottom: calc((520px + 30px) * 0.07692); } }
    @media (max-width: 480px) {
      #Ticket .schedule .schedule-sub-title {
        padding-bottom: calc(100% * 0.07692); } }
  @media (max-width: 1440px) {
    #Ticket .schedule table {
      line-height: 2.67;
      letter-spacing: 1.6px; } }
  @media (max-width: 480px) {
    #Ticket .schedule table {
      width: 221px;
      margin: 0 auto;
      font-size: 14px;
      line-height: 2.14;
      letter-spacing: 1.4px; }
      #Ticket .schedule table td {
        display: block; }
      #Ticket .schedule table tr {
        margin-bottom: 12px;
        display: block; }
        #Ticket .schedule table tr td:first-child {
          padding-right: 0; } }
@media (max-width: 1440px) {
  #Ticket .ticket-type-area {
    max-width: 900px; } }
@media (max-width: 1199.98px) {
  #Ticket .ticket-type-area {
    max-width: 797px; }
  #Ticket .time-session {
    width: 400px;
    margin: 0 auto; } }

@media (min-width: 1200px) {
  #Rules {
    padding-top: calc((608px + 30px) * 0.11091); } }
@media (min-width: 1440px) {
  #Rules {
    padding-top: calc((768px + 30px) * 0.11091); } }
@media (min-width: 1920px) {
  #Rules {
    padding-top: calc((1088px + 30px) * 0.11091); } }
@media (max-width: 1199.98px) {
  #Rules {
    padding-top: calc((520px + 30px) * 0.11091); } }
@media (max-width: 480px) {
  #Rules {
    padding-top: calc(100% * 0.11091); } }
@media (min-width: 1200px) {
  #Rules {
    padding-bottom: calc((608px + 30px) * 0.28444); } }
@media (min-width: 1440px) {
  #Rules {
    padding-bottom: calc((768px + 30px) * 0.28444); } }
@media (min-width: 1920px) {
  #Rules {
    padding-bottom: calc((1088px + 30px) * 0.28444); } }
@media (max-width: 1199.98px) {
  #Rules {
    padding-bottom: calc((520px + 30px) * 0.28444); } }
@media (max-width: 480px) {
  #Rules {
    padding-bottom: calc(100% * 0.28444); } }
#Rules .feature-btn {
  text-align: center; }
  @media (min-width: 1200px) {
    #Rules .feature-btn {
      padding-bottom: calc((608px + 30px) * 0.0161); } }
  @media (min-width: 1440px) {
    #Rules .feature-btn {
      padding-bottom: calc((768px + 30px) * 0.0161); } }
  @media (min-width: 1920px) {
    #Rules .feature-btn {
      padding-bottom: calc((1088px + 30px) * 0.0161); } }
  @media (max-width: 1199.98px) {
    #Rules .feature-btn {
      padding-bottom: calc((520px + 30px) * 0.0161); } }
  @media (max-width: 480px) {
    #Rules .feature-btn {
      padding-bottom: calc(100% * 0.0161); } }
@media (min-width: 1200px) {
  #Rules .rules-action-info {
    padding-top: calc((608px + 30px) * 0.06708); } }
@media (min-width: 1440px) {
  #Rules .rules-action-info {
    padding-top: calc((768px + 30px) * 0.06708); } }
@media (min-width: 1920px) {
  #Rules .rules-action-info {
    padding-top: calc((1088px + 30px) * 0.06708); } }
@media (max-width: 1199.98px) {
  #Rules .rules-action-info {
    padding-top: calc((520px + 30px) * 0.06708); } }
@media (max-width: 480px) {
  #Rules .rules-action-info {
    padding-top: calc(100% * 0.06708); } }
@media (min-width: 1200px) {
  #Rules .rules-action-info {
    padding-bottom: calc((608px + 30px) * 0.05725); } }
@media (min-width: 1440px) {
  #Rules .rules-action-info {
    padding-bottom: calc((768px + 30px) * 0.05725); } }
@media (min-width: 1920px) {
  #Rules .rules-action-info {
    padding-bottom: calc((1088px + 30px) * 0.05725); } }
@media (max-width: 1199.98px) {
  #Rules .rules-action-info {
    padding-bottom: calc((520px + 30px) * 0.05725); } }
@media (max-width: 480px) {
  #Rules .rules-action-info {
    padding-bottom: calc(100% * 0.05725); } }
#Rules .rules-page-contains {
  font-size: 18px;
  line-height: 2;
  letter-spacing: 1.8px;
  color: #9c9359; }
@media (max-width: 1440px) {
  #Rules .rules-page-contains {
    font-size: 16px;
    letter-spacing: 1.4px; } }
@media (max-width: 480px) {
  #Rules .rules-action-info {
    padding-top: 35px;
    padding-bottom: 50px; }
  #Rules .feature-btn .btn-outline {
    width: 240px; }
  #Rules .rules-page-contains {
    font-size: 14px;
    line-height: 2.14; } }
@media (max-width: 480px) {
  #Rules {
    min-height: initial; } }

@media (min-width: 1200px) {
  #Contact {
    padding-top: calc((608px + 30px) * 0.11091); } }
@media (min-width: 1440px) {
  #Contact {
    padding-top: calc((768px + 30px) * 0.11091); } }
@media (min-width: 1920px) {
  #Contact {
    padding-top: calc((1088px + 30px) * 0.11091); } }
@media (max-width: 1199.98px) {
  #Contact {
    padding-top: calc((520px + 30px) * 0.11091); } }
@media (max-width: 480px) {
  #Contact {
    padding-top: calc(100% * 0.11091); } }
@media (min-width: 1200px) {
  #Contact {
    padding-bottom: calc((608px + 30px) * 0.13059); } }
@media (min-width: 1440px) {
  #Contact {
    padding-bottom: calc((768px + 30px) * 0.13059); } }
@media (min-width: 1920px) {
  #Contact {
    padding-bottom: calc((1088px + 30px) * 0.13059); } }
@media (max-width: 1199.98px) {
  #Contact {
    padding-bottom: calc((520px + 30px) * 0.13059); } }
@media (max-width: 480px) {
  #Contact {
    padding-bottom: calc(100% * 0.13059); } }
@media (min-width: 1200px) {
  #Contact .contact-pre-info {
    padding-top: calc((608px + 30px) * 0.06708); } }
@media (min-width: 1440px) {
  #Contact .contact-pre-info {
    padding-top: calc((768px + 30px) * 0.06708); } }
@media (min-width: 1920px) {
  #Contact .contact-pre-info {
    padding-top: calc((1088px + 30px) * 0.06708); } }
@media (max-width: 1199.98px) {
  #Contact .contact-pre-info {
    padding-top: calc((520px + 30px) * 0.06708); } }
@media (max-width: 480px) {
  #Contact .contact-pre-info {
    padding-top: calc(100% * 0.06708); } }
@media (min-width: 1200px) {
  #Contact .contact-pre-info {
    padding-bottom: calc((608px + 30px) * 0.07513); } }
@media (min-width: 1440px) {
  #Contact .contact-pre-info {
    padding-bottom: calc((768px + 30px) * 0.07513); } }
@media (min-width: 1920px) {
  #Contact .contact-pre-info {
    padding-bottom: calc((1088px + 30px) * 0.07513); } }
@media (max-width: 1199.98px) {
  #Contact .contact-pre-info {
    padding-bottom: calc((520px + 30px) * 0.07513); } }
@media (max-width: 480px) {
  #Contact .contact-pre-info {
    padding-bottom: calc(100% * 0.07513); } }
#Contact .contact-pre-info a {
  color: #9c9359;
  text-decoration: underline; }
  #Contact .contact-pre-info a:hover {
    color: #eee9c5; }
#Contact .contact-sec {
  position: relative;
  width: 537px;
  max-width: 100%;
  margin: 0 auto; }
  @media (min-width: 1200px) {
    #Contact .contact-sec:not(:first-child) {
      padding-top: calc((608px + 30px) * 0.0322); } }
  @media (min-width: 1440px) {
    #Contact .contact-sec:not(:first-child) {
      padding-top: calc((768px + 30px) * 0.0322); } }
  @media (min-width: 1920px) {
    #Contact .contact-sec:not(:first-child) {
      padding-top: calc((1088px + 30px) * 0.0322); } }
  @media (max-width: 1199.98px) {
    #Contact .contact-sec:not(:first-child) {
      padding-top: calc((520px + 30px) * 0.0322); } }
  @media (max-width: 480px) {
    #Contact .contact-sec:not(:first-child) {
      padding-top: calc(100% * 0.0322); } }
  @media (min-width: 1200px) {
    #Contact .contact-sec:not(:first-child) {
      margin-top: calc((608px + 30px) * 0.0322); } }
  @media (min-width: 1440px) {
    #Contact .contact-sec:not(:first-child) {
      margin-top: calc((768px + 30px) * 0.0322); } }
  @media (min-width: 1920px) {
    #Contact .contact-sec:not(:first-child) {
      margin-top: calc((1088px + 30px) * 0.0322); } }
  @media (max-width: 1199.98px) {
    #Contact .contact-sec:not(:first-child) {
      margin-top: calc((520px + 30px) * 0.0322); } }
  @media (max-width: 480px) {
    #Contact .contact-sec:not(:first-child) {
      margin-top: calc(100% * 0.0322); } }
  #Contact .contact-sec:not(:first-child)::before {
    position: absolute;
    content: '';
    width: 451px;
    max-width: 100%;
    height: 1px;
    background: #595330;
    top: 0;
    right: 0; }
  #Contact .contact-sec .contact-sec-title {
    font-weight: bold;
    font-family: "Kozuka Mincho Pro", "KozMinPro", "Yu Mincho Light", YuMincho, "Yu Mincho", 游明朝体, "ヒラギノ明朝 ProN", "Hiragino Mincho ProN", serif;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 1.9px;
    margin-right: 10px;
    text-align: right;
    width: 76px; }
  #Contact .contact-sec p {
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 1.6px;
    text-align: left; }
@media (max-width: 1200px) {
  #Contact .contact-sec:not(:first-child)::before {
    width: 100%; }
  #Contact .contact-sec .contact-sec-title {
    text-align: left; } }
@media (max-width: 480px) {
  #Contact {
    padding-top: 25px;
    padding-bottom: 100px; }
    #Contact .contact-pre-info {
      padding-top: 35px;
      padding-bottom: 60px; }
    #Contact .contact-sec::before {
      display: none; }
    #Contact .contact-sec:first-child {
      padding-bottom: 30px;
      margin-bottom: 36px;
      border-bottom: solid 1px #595330; }
    #Contact .contact-sec.middle {
      margin-top: 0;
      padding-top: 0; }
    #Contact .contact-sec:last-child {
      padding-top: 30px;
      margin-top: 36px;
      border-top: solid 1px #595330; }
    #Contact .contact-sec .contact-sec-title {
      font-size: 14px;
      line-height: 2.14;
      letter-spacing: 1.7px; }
    #Contact .contact-sec p {
      font-size: 14px;
      line-height: 2.29;
      letter-spacing: 1.4px; } }
@media (max-width: 320px) {
  #Contact .contact-sec:not(:last-child) p {
    text-indent: -47px;
    padding-left: 47px; }
    #Contact .contact-sec:not(:last-child) p.contact-footer {
      text-indent: initial;
      padding-left: 0; } }

/*# sourceMappingURL=after-rules.css.map */
