// Variable
@import "variable";

// Serif Title

h3.progress-title {
    letter-spacing: 4.32px;
    margin-bottom: 12px;
}

h5 {
    font-family: $font-serif;
    font-weight: 900;
    line-height: 1.25;
    letter-spacing: 2.4px;
    margin: 0;
}

.sub-title {
    font-weight: 900;
    line-height: 2.1;
    padding-top: 42px;

    span {
        font-family: inherit;
        font-weight: inherit;
    }
}

// Form

form {
    .form-container {
        padding: 0;

        // Description

        p {
            text-align: center;
            line-height: 1.6875;
            color: $color-light-yellow;
        }

        .master-desc {
            margin: 42px 0 48px;

            p {
                color: $color-yellow;

                & + p {
                    margin-top: 24px;
                }
            }
        }

        .sub-title-wrapper {
            margin: 48px 0 30px;
        }

        // Label and Input
        .form-group {
            margin-bottom: 20px;

            &.input-with-label {
                label {
                    font-size: 16px;
                    line-height: 1;
                    letter-spacing: 1.6px;
                    text-align: left;
                    display: -webkit-box;
                    display: -ms-flexbox;
                    display: flex;
                    -webkit-box-align: center;
                    -ms-flex-align: center;
                    align-items: center;
                    margin-bottom: 10px;
                }
    
                input {
                    width: 100%;
                    border-radius: 6px;
                    border: solid 1px $color-dark-yellow;
                    background-color: transparent;
                    padding: 12px 17px;
                    font-size: 16px;
                    letter-spacing: 1.6px;
                    color: $color-yellow;
                    -webkit-transition: 0.3s;
                    transition: 0.3s;
    
                    &::placeholder {
                        color: rgba($color-yellow, 0.5);
                    }
                
                    &:focus {
                        outline: 0;
                        border-color: $color-yellow;
                        box-shadow: none;
                        -webkit-box-shadow: 0 0 0 100px #281F1C inset;
                        outline: 0;
                    }
                }
            }

            &.radio__button {
                .color-yellow {
                    color: $color-dark-yellow;
                }
            }
        }

        // Button
        .feature-btn {
            padding-top: 28px;
        }

        .multi-btn button.btn-outline.submit {
            min-width: 180px;
            width: 180px;
        }
    }
}

// Override Custom control
.radio__button {
  
    .custom-control {
  
      &.custom-checkbox {
  
        .custom-control-input {
          &:checked ~ .custom-control-label::before {
            background-image: url('../img/icon/icon-check-dark.svg');
          }
        }
  
        .custom-control-label {  
          &::before {
            border: solid 1px $color-yellow;
          }
        }
      }
    }
  }