// Variable
@import "variable";

// Override
body {
  background-color: $color-dark-brown !important;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: repeat;
}

header.logo {
  background-color: $color-dark-brown;
}

.btn-link {
  text-decoration: underline;

  &:hover,
  &:focus {
    color: $color-yellow !important;
  }
}

.anchor-wrapper {
  display: initial;
}

#rules-tab-switcher {
  position: sticky;
  position: -webkit-sticky;
  border-color: $color-dark-brown;
  text-align: center;
  z-index: 9999;
  top: 120px;
  background-color: $color-dark-brown;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: repeat;

  .nav-link.active,
  .nav-link:hover {
    background-color: transparent;
    border-color: $color-yellow;
    border-radius: 0;
    border-width: 0 0 1px 0;
  }

  .nav-link {
    cursor: pointer;
    color: $color-light-yellow;
    padding: 8.5px 0;
    margin: 0 11.5px -1px;
    border-radius: 0;
    border-width: 0 0 1px 0;
    border-color: $color-dark-brown;
    letter-spacing: 2.2px;
    transition: border-color 0.3s;
  }

  @media (max-width: 1280px) {
    top: 114px;
  }

  @media (max-width: 1024px) {
    top: 90px;
  }

  @media (max-width: 480px) {
    top: 60px;
  }

  @media (max-width: 320px) {
    top: 23px;

    .nav-link {
      letter-spacing: 1.2px;
      margin: 0 10px -1px;
    }
  }
}

#Rules {
  @include baseCounter('padding-top', 0);
  @include baseCounter('padding-bottom', 0);

  .feature-btn {
    text-align: center;
    @include baseCounter('padding-bottom', 130);
  }

  .sub-title {
    line-height: 1.25;
    letter-spacing: 2.4px;
    font-weight: bold;
    @include baseCounter('padding-top', 127);
    @include baseCounter('padding-bottom', 35);
    text-align: center;
    margin-bottom: 0;

    &:first-child {
      padding-top: 0;
    }
  }

  ul {
    list-style-type: decimal;

    li {
      line-height: 2;
      letter-spacing: 1.8px;

      &:not(:first-child) {
        @include baseCounter('padding-top', 21);
      }
    }
  }

  .rules.owl-carousel {
    @include baseCounter('padding-top', 81);

    .tab-content-inner {
      overflow: auto;
      overflow-x: hidden;
      @include baseCounter('padding-top', 75);
    }

    #qa {
      .tab-content-inner {
        @include baseCounter('padding-top', 81);
      }
    }
  }

  #qa {
    .qa-title-separator {
      font-size: 24px;
      font-weight: 900;
      line-height: 1.25;
      letter-spacing: 2.4px;
      color: $color-light-yellow;
      border-top: solid 1px $color-dark-yellow;
      @include baseCounter('margin-top', 24);
      @include baseCounter('padding-top', 60);
    }

    .qa-note {
      margin: 0 auto;
      text-align: left;
      line-height: 2;
      width: 500px;
      max-width: 100%;
      @include baseCounter('padding-top', 24);
      @include baseCounter('padding-bottom', 106);
    }
  }

  .to-change-and-refund,
  .to-presale-rules {
    color: $color-yellow;
    text-decoration: underline;
    cursor: pointer;
    transition: color 0.3s;

    &:hover {
      color: $color-light-yellow;
    }
  }

  #qa-according {
    width: 500px;
    max-width: 100%;
    margin: 0 auto;
    border-bottom: solid 1px $color-dark-yellow;
    @include baseCounter('padding-bottom', 24);

    .card {
      background-color: transparent;
      border: 0;

      &:not(:first-child) {
        .card-header {
          @include baseCounter('margin-top', 24);
        }
      }

      & ~ .card:nth-child(n+12) {
        .card-header {    
          h6 {
            padding-left: 29px;
            text-indent: -29px;
          }
        }
      }
    }

    .to-change-and-refund,
    .to-presale-rules {
      color: $color-light-yellow;

      &:hover {
        color: $color-yellow;
      }
    }

    .card-body {
      position: relative;
      padding-left: 19px;
      padding-right: 19px;
      line-height: 2;
      letter-spacing: 1.8px;
      color: $color-light-yellow;
      @include baseCounter('padding-top', 10);
      @include baseCounter('padding-bottom', 10);
      @include baseCounter('margin-left', 5);
      @include baseCounter('margin-top', 15);

      &::before {
        position: absolute;
        content: '';
        width: 1px;
        height: 100%;
        left: 0;
        top: 0;
        background: $color-dark-yellow;
      }

      &.number-list p {
        font-size: 16px;
        line-height: 2;
        letter-spacing: 1.8px;
        text-indent: -24px;
        padding-left: 24px;
        text-align: left;
      }
    }

    .card-header {
      padding: 0;
      border-style: solid;
      border-color: $color-dark-yellow;
      border-width: 1px 0 0 0;
      border-radius: 0;

      h6 {
        position: relative;
        padding-left: 21px;
        text-indent: -21px;
        @include baseCounter('padding-top', 24);
        padding-bottom: 0;
        padding-right: 40px;
        margin-bottom: 0;
        font-weight: normal;
        background: transparent;
        cursor: pointer;
        line-height: 1.5;

        &::after {
          position: absolute;
          content: '';
          left: 0;
          bottom: 0;
          @include baseCounter('height', 24);
          transform: translateY(100%);
          width: 100%;
          z-index: 999;
        }

        &.is-open {
          .icon-arrow {
            transform: rotate(0deg);
            color: $color-lighter-yellow;
          }
        }
      }

      .icon-arrow {
        position: absolute;
        text-indent: initial;
        right: 11px;
        transition: 0.3s;
        transform: rotate(180deg);
        color: $color-yellow;
      }
    }

    @media (max-width: 1200px) {
      .card-header {
        h6 {
          font-size: 16px;
          letter-spacing: 1.6px;
        }
      }
    }
  }

  #presale-rules {
    width: 533px;
    max-width: 100%;
    margin: 0 auto;

    p {
      font-size: 16px;
      line-height: 2;

      &.category-title {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 2.67;
        text-decoration: underline;
      }
    }

    .feature-btn {
      @include baseCounter('padding-top', 106);
    }
  }

  #changeAndrefund {
    ul {
      width: 535px;
      max-width: 100%;
      margin: 0 auto;
    }

    p {
      width: 535px;
      max-width: 100%;
      margin: 0 auto;
      line-height: 2;
      text-align: left;

      &.category-title {
        text-align: center;
        font-size: 18px;
        letter-spacing: 1.8px;
        text-decoration: underline;
      }
    }

    .pre-note {
      width: 495px;
      max-width: 100%;
      margin: 0 auto;
      line-height: 2;
      text-align: left;
    }

    .feature-btn {
      @include baseCounter('padding-top', 106);
    }

    .sub-title {
      & + ul {
        width: 535px;
        max-width: 100%;
        margin: 0 auto;
      }

      & + p {
        width: 535px;
        max-width: 100%;
        margin: 0 auto;
        line-height: 2;
        text-align: left;
      }
    }

    .cancel-order {
      @include baseCounter('padding-top', 115);
    }

    .change-seat {
      @include baseCounter('padding-top', 81);
    }

    #table-note {
      @include baseCounter('margin-top', 31);
      max-width: 670px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      border-collapse: collapse;
      border-bottom: solid 2px $color-yellow;

      tr {
        border-color: $color-yellow $color-yellow $color-dark-yellow $color-yellow;
        border-style: solid;
        border-width: 0 2px 2px 2px;

        &:first-child {
          border-width: 2px;
          border-color: $color-yellow;
        }

        &:last-child {
          border-width: 0 2px;
        }

        &.normal-border {
          border-width: 0 2px 1px 2px;
        }

        &.light-bg,
        &.light-bg td {
          background: #272523 !important;
        }
      }

      th {
        background: $color-light-yellow;
        border-right: solid 1px $color-dark-yellow;
        @include baseCounter('padding-top', 15);
        @include baseCounter('padding-bottom', 15);
        text-align: center;
        letter-spacing: 1.8px;
        color: #39351c;
        font-weight: normal;

        &:last-child {
          border-right: 0;
        }

        &.day-period {
          @include baseCounter('width', 81);
        }

        &.date-exp {
          @include baseCounter('width', 116);
        }

        &.refund-way {
          @include baseCounter('width', 232);
        }

        &.change-order {
          @include baseCounter('width', 241);
        }
      }

      td {
        @include baseCounter('padding-top', 15);
        @include baseCounter('padding-bottom', 15);
        text-align: center;
        letter-spacing: 1.8px;
        line-height: 2;
        background-color: $color-dark-brown;
        border-right: solid 1px $color-dark-yellow;

        &:last-child {
          border-right: 0;
        }

        &.highlight-td {
          background: $color-dark-yellow;
          color: $color-lighter-yellow;
          font-weight: 500;
        }

        img {
          height: 18px;
          width: auto !important;
          margin: 0 auto;
        }
      }
    }

    .table-note-text {
      max-width: 670px;
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      font-size: 12px;
      letter-spacing: 2px;
      margin-top: 10px;
      text-align: right;
    }

    .transfer-ticket {
      @include baseCounter('padding-top', 106);
    }

    .refund-process {
      @include baseCounter('padding-top', 91);
    }

    .majeure-factor {
      @include baseCounter('padding-top', 127);
    }

    .transaction-system {
      @include baseCounter('padding-top', 127);
    }
  }

  @media (max-width: 1200px) {
    .container {
      max-width: 700px;
    }

    .sub-title + ul li {
      letter-spacing: 1.6px;
    }

    #changeAndrefund #table-note {
      max-width: 600px;
    }
  }

  @media (max-width: 480px) {
    #rules-tab-switcher {
      top: 60px;

      .nav-link {
        padding: 11px 0;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 1.7px;
        margin: 0 9px -1px;
      }
    }

    .rules.owl-carousel {
      padding-top: 28px;

      .tab-content-inner {
        overflow-x: hidden;
      }
    }

    .feature-btn {
      padding-top: 75px;
    }

    .sub-title {
      padding: 77px 0 33px;
      font-size: 18px;
      line-height: 1.67;
      letter-spacing: 1.8px;
    }

    ul {
      margin-left: -17px;

      li {
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1.4px;

        &:not(:first-child) {
          padding-top: 20px;
        }
      }
    }

    #qa {
      .qa-title-separator {
        font-size: 18px;
        letter-spacing: 1.8px;
        line-height: 1.67;
        padding-top: 42px;
      }
      
      .qa-note {
        padding: 20px 0 0;
      }

      .feature-btn {
        padding-top: 42px;
      }
    }

    #qa-according {
      .card-header {
        h6 {
          padding: 12px 40px 0 18px;
          text-indent: -18px;
          line-height: 2;
          font-size: 14px;
          letter-spacing: 1.4px;

          &::after {
            height: 12px;
          }
        }
      }

      .card ~ .card:nth-child(n+12) {
        .card-header {    
          h6 {
            padding-left: 28px;
            text-indent: -28px;
          }
        }
      }

      .card:not(:first-child) .card-header {
        margin-top: 12px;
      }

      .card-body {
        margin-top: 15px;
        font-size: 14px;
        line-height: 2;
        letter-spacing: 1.4px;

        &.number-list p {
          font-size: 14px;
          line-height: 2;
          letter-spacing: 1.4px;
          text-indent: -21px;
          padding-left: 21px;
        }
      }
    }

    #presale-rules {
      .feature-btn {
        padding-top: 63px;
      }
    }

    #changeAndrefund {
      .sub-title + ul {
        width: 100%;
        margin-left: -17px;
      }

      #table-note {
        td {
          padding: 13px 0;
          letter-spacing: 1.4px;
          line-height: 2;
          font-size: 14px;
        }

        th {
          &.day-period {
            width: inherit;
            min-width: 60px;
          }

          &.date-exp {
            width: inherit;
            min-width: 55px;
          }

          &.refund-way {
            width: inherit;
            min-width: 124px;
          }

          &.change-order {
            width: inherit;
            min-width: 93px;
          }
        }
      }
    }
  }

  @media (max-width: 320px) {
    #changeAndrefund #table-note th {
      &.day-period {
        min-width: 52px;
      }

      &.refund-way {
        min-width: 83px;
      }

      &.change-order {
        min-width: 88px;
      }
    }

    #qa-according {
      .card-header {
        h6 {
          line-height: 1.5;
        }
      }
    }
  }
}
